@import "../utils";

.loading {
  @include flexCenter;
  text-align: center;
  background-color: #737373;

  .circle-one,
  .circle-two {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  .circle-one {
    animation: ring 2s linear infinite;
  }
  .circle-two {
    animation: ring2 2s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 0.4rem 0.8rem 0.5rem#00adb5;
    }
    25% {
      transform: rotate(90deg);
      box-shadow: 0.4rem 0.8rem 0.5rem#323232;
    }
    50% {
      transform: rotate(180deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #e63946;
    }
    75% {
      transform: rotate(270deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #1d3557;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #457b9d;
    }
  }
  @keyframes ring2 {
    0% {
      transform: rotate(180deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #00adb5;
    }
    25% {
      transform: rotate(270deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #323232;
    }
    50% {
      transform: rotate(360deg);
      box-shadow: 0.4rem 0.8rem 0.5rem#e63946;
    }
    75% {
      transform: rotate(450deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #1d3557;
    }
    100% {
      transform: rotate(540deg);
      box-shadow: 0.4rem 0.8rem 0.5rem #457b9d;
    }
  }

  .circle-one:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000094;
  }
  span {
    color: #73737380;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    animation: text 3s ease-in-out infinite;
  }
  @keyframes text {
    50% {
      color: black;
    }
  }
}
