@import "../variables";
@import "../utils";
@import "../components/login";

.signin {
  @include authContainer;
  @include flexCenter;
  .bg-container {
    top: 20%;
    left: 100%;
    @include bgStyle;
  }

  .card-container {
    @include cardContainer;
    height: 60vh;
    grid-template-columns: 30% 70%;
    .left-card:not(.login .left-card) {
      img {
        width: 100%;
        height: 100%;
        border-radius: 0 1rem 1rem 0;
      }
    }
    .right-card:not(.login .right-card) {
      grid-column: 2/ 3;
      background-color: $light-bg-color;
      border-radius: 0 1rem 1rem 0;
      // background-color: $light-bg-color;
      background-color: #fff;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      // align-items: center;
      img {
        height: 2rem;
        align-self: flex-start;
      }
      & > a {
        font-size: 1.2rem;
        color: #000;
      }
      form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .input-contain {
          display: flex;
          position: relative;
          border-radius: 0.5rem;
          input {
            width: 100%;
            border: solid 1px #8b8b8b;
            outline: none;
            border-radius: 0.5rem;
            padding: 1rem;
            &:focus + .placeholder-text {
              top: 0%;
              left: 0%;
              background-color: #fff;
              font-size: 1.1rem;
              color: black;
              border-color: #8b8b8b;
              scale: 0.8;
            }
          }

          .placeholder-text {
            position: absolute;
            transition: all 0.2s ease-in-out;
            pointer-events: none;
            top: 50%;
            left: 5%;
            transform: translate(-5%, -50%);

            .text {
              font-size: 1.4rem;
              padding: 0 0.5rem;
              background-color: transparent;
              color: black;
            }
          }
          .active {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            border-color: #8b8b8b;
            scale: 0.8;
          }
        }

        button {
          cursor: pointer;
          height: 4.5rem;
          width: 12.5rem;
          margin: auto;
          border-radius: 5px;
          border: solid 1px transparent;
          outline: none;
          background-color: $primary-bg-color;
          color: $primary-font-color;
          letter-spacing: 0.2rem;
          transition: all 0.3s ease-in-out;
          font-weight: 600;
          &:hover {
            background-color: $primary-font-color;
            color: $primary-bg-color;
            border: solid 1px $primary-bg-color;
          }
        }
      }
    }
  }
}
