@import "../variables";
@import "../utils";
@import "../components/login";

.card-container {
  .left-card:not(.login .left-card) {
    img {
      width: 100%;
      height: 100%;
      border-radius: 0 1rem 1rem 0;
    }
  }
  .right-card:not(.login .right-card) {
    background-color: $light-bg-color;
  }
}
