@import "../../utils";
@import "../../variables";

.approvals-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7vh auto;
  gap: 1rem;

  header {
    padding: 1rem 0 0;
    .search-box {
      display: flex;
      background-color: $light-bg-color;
      width: 25rem;
      border-radius: 2rem;
      align-items: center;
      padding: 0 1.5rem;
      margin: 1rem 1rem auto auto;
      span {
        @include flexCenter;
        font-size: 1.8rem;
        cursor: pointer;
      }
      input {
        width: 100%;
        background: transparent;
        padding: 1rem;
        outline: none;
        border: 0;
      }
    }
  }
  .approvals-content {
    border: solid 1px #fff;
    border-radius: 1rem;
    position: relative;
    display: grid;
    grid-auto-rows: 10rem;
    gap: 1rem;
    padding: 1rem;
    .approval-intern {
      display: grid;
      grid-template-columns: 10rem auto;
      border-radius: 1rem;
      gap: 2rem;
      cursor: pointer;
      font-size: 1.4rem;
      .details {
        background-color: #fff;
        display: grid;
        grid-template-rows: auto 2rem;
        gap: 1rem;

        .upper {
          padding: 1rem;
          display: grid;
          grid-template-columns: auto auto 5rem;

          .intern-infos {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          .notification-bell {
            @include flexCenter;
            font-size: 2.5rem;
          }
        }
        .lower {
          button {
            padding: 0.1rem;
            width: 100%;
            background-color: #0e6164;
            color: #fff;
            border: none;
          }
        }
      }
      & > * {
        border: solid 1px #fff;
      }
    }
  }
}
