/** @format */

@import "../../utils";
@import "../../variables";

.approvals {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7vh auto;
  gap: 1rem;

  .no-entries {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 1rem;
    h4 {
      font-size: 2.5rem;
      text-align: center;
      padding: 1rem 0;
      color: #fff;
      b {
        color: #109da1;
      }
    }
    .img-waiting {
      @include flexCenter;
      img {
        height: 57rem;
        width: 57rem;
      }
    }
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    h2 {
      color: #fff;
    }
    .search {
      @include flexCenter;
      background-color: $light-bg-color;
      width: 80%;
      border-radius: 2rem;
      padding: 0 1.5rem;
      margin: auto;
      span {
        @include flexCenter;
        font-size: 2rem;
        cursor: pointer;
      }
      input {
        width: 100%;
        background: transparent;
        padding: 1rem;
        outline: none;
        border: 0;
      }
    }
  }
  .approval-container {
    border: solid 1px #fff;
    padding: 2rem;
    height: 100%;
    border-radius: 1rem;
    h3 {
      display: none;
    }
    .approvals-intern-container {
      display: grid;
      grid-auto-rows: 12rem;
      gap: 1rem;

      .approvals {
        .img-waiting {
          img {
            height: 35rem;
            width: 35rem;
          }
        }
      }

      .approval-intern {
        // border: solid 1px #fff;
        padding: 1rem;
        display: grid;
        grid-template-columns: 10rem auto;
        // grid-auto-rows: 10rem;
        gap: 1rem;
        border-radius: 1rem;
        background-color: #d9d9d9;
        // color: #fff;

        & > * {
          border-radius: 1rem;
          background-color: #fff;
        }

        .overlay {
          @include flexCenter;
          width: 100%;
          height: 100%;
          background-color: rgba(48, 47, 47, 0.753);
          position: absolute;
          top: 0%;
          left: 0%;
          overflow-y: auto;
          z-index: 8;
          .intern-modal {
            display: grid;
            background-color: #fff;
            margin: auto;
            border-radius: 1rem;
            padding: 2rem;
            gap: 1rem;
            grid-template-rows: auto auto;
            height: auto;
            width: 120rem;
            & > * {
              border-radius: 1rem;
              padding: 1rem;
            }
            .sent-details {
              display: grid;
              grid-template-columns: 20rem 1fr 1fr 1fr 1fr;
              grid-template-rows: 20rem auto;
              background-color: #d9d9d9;
              gap: 2rem;
              padding: 2rem;
              & > * {
                background-color: #fff;
                border-radius: 1rem;
              }
              .img-container {
                grid-row: 1/2;
                grid-column: 1/2;
                background-color: #fff;
                @include flexCenter;
                img {
                  height: 17rem;
                  width: 17rem;
                  border-radius: 1rem;
                  border: solid 2px $primary-compliment-landing;
                  margin: auto;
                }
              }
              .student-details-container {
                grid-column: 2/6;
                display: grid;
                padding: 2rem;
              }
              .schedule-details-container {
                grid-column: 1/3;
                display: grid;
                padding: 2rem;
              }
              .internship-details-container {
                grid-column: 3/6;
                // padding: 1rem;
                display: grid;
                grid-template-columns: 10rem auto auto auto;
                grid-template-rows: 3rem repeat(6, auto);
                background-color: #d9d9d9;
                gap: 0.5rem;
                & > * {
                  border-radius: 1rem;
                  background-color: #fff;
                  padding: 0 1rem;
                }
                h4 {
                  grid-column: 1/5;
                  grid-row: 1/2;
                }
                img {
                  margin: auto;
                  grid-row: 2/4;
                  grid-column: 1/2;
                  // height: 10rem;
                  height: 100%;
                  width: 10rem;
                  object-fit: contain;
                }
                p {
                  display: flex;
                  flex-direction: column;
                }
                & > *:nth-child(3) {
                  grid-column: 2/5;
                  grid-row: 2/3;
                }
                & > *:nth-child(4) {
                  grid-column: 2/5;
                  grid-row: 3/4;
                }
                & > *:nth-child(5) {
                  grid-column: 1/3;
                  grid-row: 4/5;
                }
                & > *:nth-child(6) {
                  grid-column: 3/5;
                  grid-row: 4/5;
                }
                & > *:nth-child(7) {
                  grid-column: 1/3;
                  grid-row: 5/6;
                }
                & > *:nth-child(8) {
                  grid-column: 3/5;
                  grid-row: 5/6;
                }
                & > *:nth-child(9) {
                  grid-column: 1/5;
                  grid-row: 6/8;
                }
              }
            }
            .feedback-container {
              display: grid;
              background-color: #d9d9d9;

              form {
                display: grid;
                grid-template-rows: 12rem auto;
                .forms {
                  label {
                    display: grid;
                    grid-template-rows: auto 1fr;
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    textarea {
                      // overflow-y: scroll;
                      height: 100%;
                      resize: none;
                      padding: 1rem;
                    }
                  }
                }
                .btn-container {
                  @include flexCenter;
                  gap: 1rem;
                  span {
                    @include flexCenter;
                    padding-right: 0.3rem;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }

        .intern-right {
          display: flex;
          gap: 2rem;
          padding: 0.5rem 2rem;
          align-items: center;
          justify-content: space-between;
          // background-color: #d9d9d9;
          // font-weight: 550;
          .intern-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }

        .intern-left {
          height: 10rem;
          width: 10rem;
          img {
            height: 100%;
            width: 100%;
            border: solid 1px #fff;
            border-radius: 1rem;
          }
        }
      }
      button {
        @include flexCenter;
        cursor: pointer;
        height: 4.5rem;
        padding: 1.6rem;
        border-radius: 5px;
        border: solid 1px transparent;
        outline: none;
        color: $primary-font-color;
        background-color: $primary-compliment-landing;
        transition: all 0.3s ease-in-out;
        font-weight: 600;

        // margin: 0 auto;
        // letter-spacing: 0.2rem;
        &.decline-btn:hover {
          background-color: $red-primary-color;
        }
        &.back-btn:hover,
        &.approve-btn:hover,
        &.view:hover {
          background-color: #d9d9d9;
          color: $primary-compliment-landing;
          border: solid 1px $primary-compliment-landing;
        }
      }
    }
  }
}

//Responsive

@media screen and (max-width: 1030px) {
  .approvals {
    .no-entries {
      h4 {
        font-size: 2.2rem;
      }
      .img-waiting {
        img {
          height: 52rem;
          width: 52rem;
        }
      }
    }
    .approval-container {
      .approvals-intern-container {
        .approval-intern {
          .overlay {
            .intern-modal {
              grid-template-rows: auto auto;
              padding: 1rem;
              overflow-y: auto;
              // height: 90vh;
              width: 90vw;

              .sent-details {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;

                .img-container {
                  background-color: transparent;
                }
                .student-details-container {
                  grid-column: 2/5;
                }
                .schedule-details-container {
                  grid-column: 1/5;
                  grid-row: 2/3;
                }
                .internship-details-container {
                  grid-column: 1/5;
                  grid-row: 3/4;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .approvals {
    .approval-container {
      .approvals-intern-container {
        .intern-right {
          gap: 1rem !important;
          .intern-details {
            .program {
              font-size: 1.6rem;
            }
          }
          button {
            height: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .approvals {
    .no-entries {
      h4 {
        color: #000;
        font-size: 2rem;
      }
      .img-waiting {
        img {
          height: 40rem;
          width: 40rem;
        }
      }
    }
    .approval-container {
      h3 {
        display: flex;
        color: #fff;
        text-align: center;
        padding: 1rem 2rem;
      }
      .approvals-intern-container {
        .approval-intern {
          .overlay {
            .intern-modal {
              // height: 90vh;
              // width: 90vw;
              // overflow-y: auto;
              .sent-details {
                display: flex;
                flex-direction: column;
                font-size: 1.7rem;
                gap: 1rem;
                padding: 2rem 1rem 1rem;

                .img-container {
                  img {
                    height: 14rem;
                    width: 14rem;
                  }
                }
                p {
                  word-wrap: break-word;
                  word-break: break-all;
                }
              }
              .feedback-container {
                form {
                  p {
                    font-size: 1.5rem;
                  }
                  .btn-container {
                    button {
                      height: 1rem;
                      // padding: 1rem;
                    }
                  }
                }
              }
            }
          }
          .intern-right {
            justify-content: center !important;
            flex-direction: column;
            .intern-details {
              .program {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .approvals {
    .no-entries {
      h4 {
        font-size: 2rem;
      }
      .img-waiting {
        img {
          height: 25rem;
          width: 25rem;
        }
      }
    }
    .approval-container {
      h3 {
        font-size: 2rem;
      }
      .approvals-intern-container {
        .approval-intern {
          grid-template-columns: auto;
          .overlay {
            .intern-modal {
              width: 100%;
              height: 100%;
              .sent-details {
                font-size: 1.5rem;
                .img-container {
                  img {
                    height: 12rem;
                    width: 12rem;
                  }
                }
              }
            }
          }
          .intern-left {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .approvals {
    .approval-container {
      .approvals-intern-container {
        .approval-intern {
          .overlay {
            .intern-modal {
              .feedback-container {
                form {
                  .btn-container {
                    display: grid;
                    grid-template-rows: repeat(3, auto);
                    gap: 0.5rem;
                    & > :nth-child(3) {
                      grid-row: 1/2;
                    }
                    & > :nth-child(2) {
                      grid-row: 2/3;
                    }
                    & > :nth-child(1) {
                      grid-row: 3/4;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
