@import "../../utils";
@import "../../variables";

.approvals {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7vh auto;
  gap: 1rem;
  header {
    padding: 1rem 0 0;
  }
  .approvals-intern-container {
    // border: solid 1px #fff;
    display: grid;
    grid-auto-rows: 12rem;
    gap: 1rem;
    height: 100%;
    background-color: #fff;
    border-radius: 1rem;

    .approval-intern {
      border: solid 1px #fff;
      display: grid;
      grid-template-columns: 10rem auto;
      padding: 1rem;
      gap: 1rem;
      background-color: $primary-bg-color-landing-compliment;
      border-radius: 1rem;
      color: #fff;

      .overlay {
        @include flexCenter;
        width: 100%;
        height: 100%;
        background-color: rgba(48, 47, 47, 0.753);
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 8;

        .intern-modal {
          display: grid;
          background-color: #fff;
          color: #000;
          width: 70vw;
          min-height: 60vh;
          border-radius: 1rem;
          padding: 2rem;
          gap: 1rem;
          grid-template-rows: auto auto auto;

          & > * {
            // border: solid 1px #000;
            // background-color: #d9d9d9;
            padding: 1rem;
          }
          .sent-details {
            display: grid;
            gap: 1rem;
            grid-template-columns: 14rem auto;
            grid-auto-rows: 14rem;
            background-color: #d9d9d9;

            img {
              height: 14rem;
              width: 14rem;
            }
            .student-details {
              background-color: #fff;
              padding: 0 1rem;
            }
          }
          .scedule-internship-details {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 1rem;
            background-color: #d9d9d9;

            .schedule-details,
            .internship-details {
              background-color: #fff;
              padding: 1rem;

              h3 {
                padding-bottom: 1rem;
              }
            }
          }
          .feedback-container {
            display: grid;
            background-color: #d9d9d9;

            form {
              display: grid;
              grid-template-rows: 12rem auto;
              .forms {
                label {
                  display: grid;
                  grid-template-rows: auto 1fr;
                  width: 100%;
                  height: 100%;
                  padding: 1rem;
                  textarea {
                    resize: none;
                    padding: 1rem;
                  }
                }
              }
              .btn-container {
                @include flexCenter;
                gap: 1rem;
                span {
                  @include flexCenter;
                  padding-right: 0.3rem;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .intern-right {
        display: flex;
        gap: 2rem;
        padding: 1rem;
        align-items: center;
      }

      .intern-left {
        height: 10rem;
        width: 10rem;
        img {
          height: 100%;
          width: 100%;
          border: solid 1px #fff;
          border-radius: 1rem;
        }
      }
    }
    button {
      cursor: pointer;
      height: 4.5rem;
      @include flexCenter;
      // margin: 0 auto;
      padding: 1.6rem;
      border-radius: 5px;
      border: solid 1px transparent;
      outline: none;
      color: $primary-font-color;
      background-color: $primary-compliment-landing;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      &.decline-btn:hover {
        background-color: $red-primary-color;
      }
      &.back-btn:hover,
      &.approve-btn:hover {
        background-color: #d9d9d9;
        color: #000;
        border: solid 1px #000;
      }
    }
  }
}
