/** @format */

@import "../../utils";
@import "../../variables";

.monitor-attendance {
  display: grid;
  gap: 1rem;
  border-radius: 1rem;
  // grid-template-rows: 10vh 10vh 72vh;
  grid-template-rows: auto minmax(45rem, 73vh);
  color: #fff;

  button {
    background-color: #d9d9d9;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 3rem;
    transition: all 0.2s linear;
    font-weight: 600;
    letter-spacing: 0.1rem;
    @include flexCenter;
    gap: 1rem;
    font-size: 1.4rem;

    .icon {
      font-size: 1.2rem;
    }
    p {
      padding-top: 0.2rem;
    }
    &:hover {
      background-color: $primary-compliment-landing;
      border-radius: 1rem;
      color: #fff;
    }
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    & > * {
      display: flex;
      background-color: #282b30;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .top {
      align-items: center;
    }
    .mid {
      justify-content: space-between;
      .btn-container {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .date-container {
        display: flex;
        align-items: center;
      }
    }
  }

  .display {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #282b30;
    padding: 1rem;
    border-radius: 1rem;
    .content {
      display: grid;
      grid-auto-rows: auto;
      gap: 1rem;
      padding: 1rem;
      overflow-y: auto;
      .no-record {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 1rem;

        h2 {
          margin: auto;
        }
        .img-waiting {
          @include flexCenter;
          height: 100%;
          width: 100%;
          img {
            height: 30rem;
            width: 30rem;
          }
        }
      }
      .day-attendance {
        background-color: #d9d9d9;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 10rem auto;
        gap: 1rem;
        padding: 1rem;
        color: #000;

        // & > * {
        //   background-color: #fff;
        // }

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          img {
            height: 10rem;
            width: 10rem;
            object-fit: contain;
          }
        }
        .right {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          border-radius: 1rem;
          background-color: #fff;
          .first {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          .second {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            gap: 1rem;

            .more-details-btn {
              display: flex;
              // justify-content: center;
              align-items: flex-start;
              gap: 1rem;
              h4 {
                display: flex;
                align-items: center;
                text-align: center;
                color: #e63946;
              }
              button {
                height: 4.5rem;
                padding: 1.5rem;
                background-color: #d9d9d9;
                &:hover {
                  background-color: $primary-compliment-landing;
                }
              }
            }
          }
          & > * {
            padding: 0.5rem 0.5rem 0.5rem 1rem;
          }
        }
      }

      .absent {
        background-color: darken($color: $red-primary-color, $amount: 10);
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 8;
  }
  .modal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    color: #000;
    z-index: 9;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 40rem;
    background-color: #d9d9d9;
    border: solid 1px #000;
    border-radius: 1rem;

    // & > * {
    //   border: solid 1px #000;
    // }
    .btn-controllers {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      button {
        background-color: $primary-compliment-landing;
        border: solid 2px transparent;
        color: #fff;
        height: 4rem;
        &:hover {
          color: $primary-compliment-landing;
          background-color: #fff;
          border: solid 2px $primary-compliment-landing;
        }
        &:nth-child(2) {
          background-color: $red-primary-color;
          &:hover {
            color: $red-primary-color;
            background-color: #fff;
            border: solid 2px $red-primary-color;
          }
        }
      }
    }
  }
  .narrative-content {
    height: 70rem;
    width: 80rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    .upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 1rem;
    }
    .middle {
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 1rem;
      textarea {
        resize: none;
        height: 100%;
        width: 100%;
        padding: 2rem;
        font-size: 1.6rem;
        border-radius: 1rem;
      }
    }
    .btn-controllers {
      button {
        color: #d9d9d9;
        border-radius: 1rem;
        &:hover {
          border: solid 1px $primary-feature-bg;
          background-color: $primary-feature-bg;
          border-radius: 0;
          color: #fff;
        }
      }
    }
  }
  .sort {
    display: grid;
    grid-template-rows: 1fr auto;
    .sort-div {
      padding: 1rem;
      border: solid 1px #000;
    }
    .close-btn {
      @include flexCenter;
      button {
        background-color: $primary-compliment-landing;
        color: #fff;
        height: 4rem;
        border: none;
        &:hover {
          color: $primary-compliment-landing;
          background-color: #fff;
          border: solid 1px $primary-compliment-landing;
        }
      }
    }
  }
  .filter {
    .inputs-container {
      padding: 1rem;
      border: solid 1px #000;
    }
  }
  .more-details {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    height: 90%;
    width: 80rem;
    overflow-y: auto;
    .details {
      @include flexColumn;
      // display: flex;
      // flex-direction: column;
      & > * {
        background-color: #fff;
        border-radius: 1rem;
      }
      .rendered-hours {
        padding: 1rem;
      }
      .time-in,
      .time-out {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem 1rem 1.5rem 1rem;
      }
      img {
        height: 30rem;
        width: 30rem;
      }
    }
    .btn-controller {
      @include flexCenter;
      button {
        color: #d9d9d9;
        background-color: $primary-compliment-landing;
        border-radius: 1rem;
        &:hover {
          background-color: $primary-feature-bg;
          border-radius: 0;
          color: #fff;
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 850px) {
  .monitor-attendance {
    .more-details,
    .narrative-content {
      width: 72rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .monitor-attendance {
    .display {
      .content {
        .day-attendance {
          .right {
            .second {
              gap: 0.5rem;
              .more-details-btn {
                flex-direction: column;
                gap: 0.5rem;
                button {
                  height: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .monitor-attendance {
    .display {
      h1 {
        font-size: 2.5rem;
      }
      .content {
        .no-record {
          h2 {
            font-size: 2.3rem;
          }
          .img-waiting {
            img {
              height: 25rem;
              width: 25rem;
            }
          }
        }
        .day-attendance {
          .right {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, auto);
            gap: 0;
            padding: 0.5rem 0.5rem 1rem 1rem;
            & > * {
              padding: 0;
            }
            .first {
              .timeIn,
              .timeOut {
                display: none;
              }
            }
            .second {
              gap: 0;
              .more-details-btn {
                button {
                  border-radius: 1rem;
                  &:hover {
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .more-details,
    .narrative-content {
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
    .more-details {
      .details {
        img {
          height: 25rem;
          width: 25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .monitor-attendance {
    grid-template-rows: auto minmax(35rem, 60vh);
    .modal {
      width: 100%;
    }
    .more-details {
      .details {
        & > * {
          font-size: 1.7rem;
        }
        img {
          height: 20rem;
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .monitor-attendance {
    button {
      height: 3.5rem;
    }
    header {
      .top {
        @include flexCenter;
        padding: 1rem;
      }
      .mid {
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem;
        & > *:nth-child(1) {
          grid-row: 2/3;
        }
        & > * {
          @include flexCenter;
          text-align: center;
        }
      }
    }
    .display {
      .content {
        .day-attendance {
          .right {
            & > * {
              p {
                font-size: 1.6rem;
              }
              h4 {
                font-size: 1.7rem;
              }
            }
            .second {
              gap: 0;
              .more-details-btn {
                button {
                  height: 3.5rem;
                }
              }
            }
          }
        }
      }
    }
    .more-details {
      .details {
        & > * {
          font-size: 1.6rem;
        }
        img {
          height: 17rem;
          width: 17rem;
        }
      }
    }
    .narrative-content {
      .upper {
        flex-direction: column;
        padding: 1rem;
      }
      .middle {
        textarea {
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .monitor-attendance {
    grid-template-rows: auto minmax(35rem, 59vh);
    .display {
      h1 {
        text-align: center;
        font-size: 2rem;
      }
      .content {
        .no-record {
          h2 {
            font-size: 1.8rem;
          }
          .img-waiting {
            img {
              height: 20rem;
              width: 20rem;
            }
          }
        }
        .day-attendance {
          grid-template-columns: 1fr;
          .left {
            display: none;
          }
          .right {
            .first {
              justify-content: center;
              align-items: center;
              .rendered {
                display: none;
              }
            }
            .second {
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              .more-details-btn {
                flex-direction: row;
                align-items: center;
                button {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
    .narrative-content {
      .upper {
        font-size: 1.7rem;
      }
      .middle {
        textarea {
          font-size: 1.4rem;
        }
      }
      .btn-controllers {
        button {
          height: 3.5rem;
        }
      }
    }
  }
}
