/** @format */

@import "../../utils";
@import "../../variables";

.coordinator-dashboard {
  display: grid;
  grid-template-rows: auto minmax(45rem, 77vh);
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;

  header {
    display: grid;
    padding: 0 0 0 1rem;
    // grid-template-columns: 1fr auto;
    // gap: 1rem;

    .name-greet {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: $primary-font-color;

      h1 {
        font-size: 4rem;
        b {
          color: #0d7377;
        }
      }
      h4 {
        font-size: 2rem;
      }
    }
  }

  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 45rem;
    grid-template-rows: repeat(2, minmax(20rem, 42vh));
    gap: 1rem;

    & > * {
      border: solid 1px #fff;
      border-radius: 1rem;
      background-color: #282b30;
    }
    .container-title,
    .approvals-title,
    .internships-title {
      color: #fff;
      text-align: center;
      background-color: #555252;
      border-radius: 1rem 1rem 0 0;
      font-size: 1.6rem;
      padding: 0.5rem 0;
    }

    .dashboard-intern {
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 2rem;
      grid-column: 1/4;
      grid-row: 1/2;

      .no-intern {
        @include flexColumn;
        justify-content: center;
        align-items: center;
        gap: 0;
        img {
          height: 8rem;
          width: 8rem;
        }
        h3 {
          color: $primary-compliment-landing;
        }
      }

      .all-intern-container {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;
        height: 100%;
        background-color: #fff;
        grid-auto-rows: 10rem;

        .all-interns {
          display: grid;
          grid-template-columns: 8rem auto;
          gap: 1rem;
          border-radius: 1rem;
          background-color: #c9c9c9;
          padding: 1rem;

          .img-intern {
            margin: auto;
            height: 8rem;
            width: 8rem;
            img {
              border: solid 1px #fff;
              background-color: #fff;
              height: 100%;
              width: 100%;
              border-radius: 1rem;
            }
          }
          .intern-detail {
            background-color: #fff;
            border-radius: 1rem;
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr auto;
            column-gap: 0.5rem;
            & > * {
              display: flex;
              align-items: center;
              font-size: 1.7rem;
              gap: 0.5rem;
            }
            // .full-name {
            //   grid-column: 1/2;
            //   grid-row: 1/3;
            // }
            .program,
            .rendered {
              justify-content: flex-end;
            }
            .course {
              display: none;
            }
          }
        }
      }
    }

    .dashboard-approvals {
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 2rem;
      grid-column: 1/3;

      .no-approvals {
        @include flexColumn;
        justify-content: center;
        align-items: center;
        gap: 0;
        img {
          height: 8rem;
          width: 8rem;
        }
        h3 {
          color: $primary-compliment-landing;
        }
      }

      .all-approvals-container {
        overflow-y: auto;
        height: 100%;
        background-color: #fff;
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-auto-rows: 10rem;

        .approval-intern {
          display: grid;
          grid-template-columns: 8rem auto;
          gap: 1rem;
          border-radius: 1rem;
          background-color: #c9c9c9;
          padding: 1rem;

          & > * {
            border-radius: 1rem;
            background-color: #fff;
          }

          .overlay {
            @include flexCenter;
            width: 100%;
            height: 100%;
            background-color: rgba(48, 47, 47, 0.753);
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 8;
            .intern-modal {
              display: grid;
              background-color: #fff;
              margin: auto;
              border-radius: 1rem;
              padding: 2rem;
              gap: 1rem;
              grid-template-rows: auto auto;
              height: 90%;
              width: 90vw;
              overflow-y: auto;
              & > * {
                border-radius: 1rem;
                padding: 1rem;
              }
              .sent-details {
                display: grid;
                grid-template-columns: 20rem 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                background-color: #d9d9d9;
                gap: 2rem;
                padding: 2rem;
                & > * {
                  background-color: #fff;
                  border-radius: 1rem;
                }
                .img-container {
                  grid-row: 1/2;
                  grid-column: 1/2;
                  background-color: #fff;
                  @include flexCenter;
                  img {
                    height: 17rem;
                    width: 17rem;
                    border-radius: 1rem;
                    border: solid 2px $primary-compliment-landing;
                    margin: auto;
                  }
                }
                .student-details-container {
                  grid-column: 2/6;
                  display: grid;
                  padding: 2rem;
                  .student-details {
                    display: grid;
                    gap: 0.5rem;
                  }
                }
                .schedule-details-container {
                  grid-column: 1/3;
                  display: grid;
                  padding: 2rem;
                  gap: 0.5rem;
                }
                .internship-details-container {
                  grid-column: 3/6;
                  // padding: 1rem;
                  display: grid;
                  grid-template-columns: 10rem auto auto auto;
                  grid-template-rows: repeat(7, auto);
                  background-color: #d9d9d9;
                  gap: 0.5rem;
                  & > * {
                    // border-radius: 1rem;
                    background-color: #fff;
                    padding: 0.5rem 1rem;
                    align-items: center;
                  }
                  h4 {
                    grid-column: 1/5;
                    grid-row: 1/2;
                    // padding: 1rem;
                    border-radius: 1rem 1rem 0 0;
                  }
                  img {
                    margin: auto;
                    grid-row: 2/4;
                    grid-column: 1/2;
                    // height: 10rem;
                    height: 100%;
                    width: 10rem;
                    object-fit: contain;
                  }
                  p {
                    word-break: break-all;
                  }
                  & > *:nth-child(3) {
                    grid-column: 2/5;
                    grid-row: 2/3;
                  }
                  & > *:nth-child(4) {
                    grid-column: 2/5;
                    grid-row: 3/4;
                  }
                  & > *:nth-child(5) {
                    grid-column: 1/3;
                    grid-row: 4/5;
                  }
                  & > *:nth-child(6) {
                    grid-column: 3/5;
                    grid-row: 4/5;
                  }
                  & > *:nth-child(7) {
                    grid-column: 1/3;
                    grid-row: 5/6;
                  }
                  & > *:nth-child(8) {
                    grid-column: 3/5;
                    grid-row: 5/6;
                  }
                  & > *:nth-child(9) {
                    grid-column: 1/5;
                    grid-row: 6/8;
                    border-radius: 0 0 1rem 1rem;
                  }
                }
              }
              .feedback-container {
                display: grid;
                background-color: #d9d9d9;

                form {
                  display: grid;
                  grid-template-rows: 12rem auto;
                  .forms {
                    label {
                      display: grid;
                      grid-template-rows: auto 1fr;
                      width: 100%;
                      height: 100%;
                      padding: 1rem;
                      textarea {
                        // overflow-y: scroll;
                        height: 100%;
                        resize: none;
                        padding: 1rem;
                      }
                    }
                  }
                  .btn-container {
                    @include flexCenter;
                    gap: 1rem;
                    span {
                      @include flexCenter;
                      padding-right: 0.3rem;
                      font-size: 1.3rem;
                    }
                  }
                }
              }
            }
          }
          .intern-left {
            margin: auto;
          }
          .intern-left {
            height: 8rem;
            width: 8rem;
            img {
              height: 100%;
              width: 100%;
              border: solid 1px #fff;
              border-radius: 1rem;
            }
          }
          .intern-right {
            display: flex;
            gap: 1rem;
            padding: 1rem 2rem;
            align-items: center;
            justify-content: space-between;
            .intern-details {
              display: flex;
              flex-direction: column;
              .course {
                display: none;
              }
            }
          }
        }
        button {
          @include flexCenter;
          cursor: pointer;
          height: 4.5rem;
          padding: 1.6rem;
          border-radius: 5px;
          border: solid 1px transparent;
          outline: none;
          color: $primary-font-color;
          background-color: $primary-compliment-landing;
          transition: all 0.3s ease-in-out;
          font-weight: 600;

          // margin: 0 auto;
          // letter-spacing: 0.2rem;
          &.decline-btn {
            background-color: $red-primary-color;
            &:hover {
              background-color: #d9d9d9;
              color: $red-primary-color;
              border: solid 1px $red-primary-color;
            }
          }
          &.back-btn {
            background-color: #aaaaaa;
            &:hover {
              background-color: #d9d9d9;
              color: #000;
              border: solid 1px #000;
            }
          }

          &.approve-btn:hover,
          &.view:hover {
            background-color: #d9d9d9;
            color: $primary-compliment-landing;
            border: solid 1px $primary-compliment-landing;
          }
        }
      }
    }

    .dashboard-internships {
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 2rem;

      .no-internships {
        @include flexColumn;
        justify-content: center;
        align-items: center;
        gap: 0;
        img {
          height: 8rem;
          width: 8rem;
        }
        h3 {
          color: $primary-compliment-landing;
        }
      }

      .all-internship-container {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;
        height: 100%;
        background-color: #fff;
        grid-auto-rows: 10rem;

        .internship {
          display: grid;
          grid-template-columns: 8rem auto;
          gap: 1rem;
          border-radius: 1rem;
          background-color: #c9c9c9;
          padding: 1rem;

          .img-con {
            @include flexCenter;
            height: 8rem;
            width: 8rem;
            img {
              background-color: #fff;
              height: auto;
              width: 100%;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 1rem;
            padding: 1rem 1.5rem;
            h4 {
              white-space: nowrap; /* Prevents text from wrapping */
              overflow: hidden; /* Hides any overflowed text */
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

// Responsive
//min-height
@media screen and (min-height: 700px) {
  .coordinator-dashboard {
    grid-template-rows: auto minmax(45rem, 80vh);
    .dashboard-content {
      //no content icons
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          img {
            height: 11rem;
            width: 11rem;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 800px) {
  .coordinator-dashboard {
    grid-template-rows: auto minmax(45rem, 82vh);
    .dashboard-content {
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          img {
            height: 15rem;
            width: 15rem;
          }
        }
      }
    }
  }
}

//max-height
@media screen and (max-width: 1450px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .intern-right {
              .intern-details {
                .program {
                  display: none;
                }
                .course {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .coordinator-dashboard {
    .dashboard-content::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
    }

    .dashboard-content::-webkit-scrollbar-thumb {
      border-radius: 0;
      margin: 1.5rem;
    }

    .dashboard-content::-webkit-scrollbar-track {
      border-radius: 0;
      margin: 1.5rem;
    }

    .dashboard-content {
      overflow-y: auto;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(32rem, 48vh));
      padding: 1.5rem;
      gap: 1.5rem;

      border: solid 1px #fff;
      border-radius: 1rem;
      background-color: #282b30;

      & > * {
        border: none;
        border-radius: 0;
      }

      .dashboard-intern {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .dashboard-approvals {
        grid-column: 1/2;
        .all-approvals-container {
          .approval-intern {
            .intern-right {
              .intern-details {
                .program {
                  display: flex;
                }
                .course {
                  display: none;
                }
              }
            }
          }
        }
      }

      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        border-radius: 1rem;
        padding: 0;
        .all-intern-container,
        .all-approvals-container,
        .all-internship-container {
          border-radius: 0 0 1rem 1rem;
        }
      }
    }

    .dashboard-content {
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          padding-top: 4rem;
          img {
            height: 13rem;
            width: 13rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-intern {
        .all-intern-container {
          .all-interns {
            .intern-detail {
              .course {
                justify-content: flex-end;
                display: flex;
              }
              .program {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .overlay {
              .intern-modal {
                grid-template-rows: auto auto;
                padding: 1rem;
                overflow-y: auto;

                .sent-details {
                  grid-template-columns: repeat(4, 1fr);
                  grid-template-rows: repeat(3, 1fr);

                  .img-container {
                    background-color: transparent;
                  }
                  .student-details-container {
                    grid-column: 2/5;
                  }
                  .schedule-details-container {
                    grid-column: 1/5;
                    grid-row: 2/3;
                  }
                  .internship-details-container {
                    grid-column: 1/5;
                    grid-row: 3/4;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .coordinator-dashboard {
    header {
      .name-greet {
        h1 {
          font-size: 3.5rem;
        }
        h4 {
          font-size: 1.8rem;
        }
      }
    }

    .dashboard-content {
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .intern-right {
              .intern-details {
                .program {
                  display: none;
                }
                .course {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-intern {
        .all-intern-container {
          grid-auto-rows: 12rem;
          .all-interns {
            grid-template-columns: 9rem auto;
            .img-intern {
              height: 9rem;
              width: 9rem;
            }
            .intern-detail {
              grid-template-columns: 1fr;
              grid-template-rows: repeat(3, auto);
              padding: 0.5rem 1rem;

              .course,
              .rendered {
                justify-content: flex-start;
              }
              .schedType {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .overlay {
              .intern-modal {
                width: 100%;
                height: 100%;
                border-radius: 0;
                .sent-details {
                  display: flex;
                  flex-direction: column;
                  font-size: 1.7rem;
                  gap: 1rem;
                  padding: 2rem 1rem 1rem;

                  .img-container {
                    img {
                      height: 14rem;
                      width: 14rem;
                    }
                  }
                }
                .feedback-container {
                  form {
                    p {
                      font-size: 1.5rem;
                    }
                    .btn-container {
                      button {
                        height: 1rem;
                        // padding: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .coordinator-dashboard {
    padding: 0;
    grid-template-rows: auto minmax(45rem, 82vh);
    header {
      .name-greet {
        h1 {
          font-size: 3.2rem;
        }
        h4 {
          font-size: 1.7rem;
        }
      }
    }

    .dashboard-content {
      grid-template-rows: repeat(3, minmax(28rem, 40vh));
      .dashboard-intern {
        .all-intern-container {
          .all-interns {
            .intern-detail {
              .schedType {
                display: none;
              }
            }
          }
        }
      }
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .intern-right {
              padding: 0.5rem 1rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    .dashboard-content {
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          img {
            height: 10rem;
            width: 10rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .coordinator-dashboard {
    grid-template-rows: auto minmax(35rem, 75vh);
    .dashboard-content {
      grid-template-rows: repeat(3, minmax(24rem, 35vh));
      .dashboard-intern {
        .all-intern-container {
          grid-auto-rows: 9rem;
          .all-interns {
            gap: 0.5rem;
            padding: 0.5rem;

            .img-intern {
              height: 8rem;
              width: 8rem;
            }
            .intern-detail {
              grid-template-rows: repeat(2, auto);
              .course {
                display: none;
              }
            }
          }
        }
      }
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            padding: 0.5rem;
            .intern-right {
              button {
                height: 3.5rem;
              }
            }
          }
        }
      }
    }

    .dashboard-content {
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          padding-top: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .coordinator-dashboard {
    grid-template-rows: auto minmax(35rem, 75vh);
    .dashboard-content {
      .dashboard-intern {
        .all-intern-container {
          grid-auto-rows: 10.5rem;
          .all-interns {
            grid-template-columns: 1fr;
            .img-intern {
              display: none;
            }
            .intern-detail {
              @include flexCenter;
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }
      .dashboard-approvals {
        .all-approvals-container {
          grid-auto-rows: 11rem;
          .approval-intern {
            grid-template-columns: 1fr;
            .overlay {
              .intern-modal {
                .sent-details {
                  font-size: 1.5rem;
                  .img-container {
                    img {
                      height: 12rem;
                      width: 12rem;
                    }
                  }
                }
              }
            }
            .intern-left {
              display: none;
            }
            .intern-right {
              flex-direction: column;
              gap: 0;
              .intern-details {
                justify-content: center;
                align-items: center;
                text-align: center;
              }
            }
          }
        }
      }
      .dashboard-internships {
        .all-internship-container {
          .internship {
            grid-template-columns: 1fr;
            .img-con {
              display: none;
            }
            .text {
              font-size: 1.7rem;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }
        }
      }
    }

    .dashboard-content {
      .dashboard-intern,
      .dashboard-approvals,
      .dashboard-internships {
        .no-intern,
        .no-approvals,
        .no-internships {
          padding: 2.5rem;
          img {
            height: 8rem;
            width: 8rem;
          }
          h3 {
            font-size: 1.7rem;
            text-align: center;
            display: flex;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .coordinator-dashboard {
    grid-template-rows: auto minmax(30rem, 70vh);
    header {
      .name-greet {
        h1 {
          font-size: 2.9rem;
        }
        h4 {
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .coordinator-dashboard {
    .dashboard-content {
      .dashboard-approvals {
        .all-approvals-container {
          .approval-intern {
            .overlay {
              .intern-modal {
                .feedback-container {
                  form {
                    .btn-container {
                      display: grid;
                      grid-template-rows: repeat(3, auto);
                      gap: 0.5rem;
                      & > :nth-child(3) {
                        grid-row: 1/2;
                      }
                      & > :nth-child(2) {
                        grid-row: 2/3;
                      }
                      & > :nth-child(1) {
                        grid-row: 3/4;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
