@import "../../utils";
@import "../../variables";

.internship-container {
  height: 100%;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 1rem;
  padding: 2rem;

  .coordinator-internship {
    @include flexColumn;
    gap: 2rem;
    background-color: #33363a;
    border: solid 1px #fff;
    // padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    width: 100%;

    .create-overlay {
      @include flexCenter;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #231f206c;
      top: 0%;
      left: 0%;
      z-index: 9;
      .create-modal {
        display: grid;
        background-color: #d9d9d9;
        margin: auto;
        border-radius: 1rem;
        padding: 2rem;
        gap: 1rem;
        grid-template-rows: auto;
        height: auto;

        .create-container {
          display: grid;
          grid-template-rows: auto 1fr auto;
          background-color: #fff;

          // grid-template-columns: auto auto auto;
          gap: 1rem;
          padding: 2rem;
          .top {
            display: grid;
            grid-template-columns: 10rem auto;
            grid-auto-rows: 10rem;
            height: 100%;
            gap: 1rem;
            justify-content: flex-start;

            & > * {
              border-radius: 1rem;
            }
            .left {
              border: solid 1px #000;
            }
            .right {
              label {
                display: grid;
                grid-template-rows: auto 1fr;
                color: #000;
                width: 100%;
                height: 100%;
                padding: 1rem;
                gap: 1rem;
                h4 {
                  b {
                    color: rgb(116, 116, 116);
                    font-size: 1.3rem;
                  }
                }
                input {
                  height: 100%;
                  padding: 1rem;
                  margin: auto;
                }
              }
            }
          }
          .text {
            label {
              display: grid;
              grid-template-rows: auto 1fr;
              min-width: 30vw;
              min-height: 30vh;
              padding: 1rem;
              textarea {
                width: 100%;
                height: 100%;
                resize: none;
                padding: 1rem;
              }
            }
          }
          .btnContainer {
            @include flexCenter;
            gap: 1rem;
            button {
              @include flexCenter;
              padding: 1.6rem;
              height: 4rem;
              border-radius: 5px;
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
              transition: all 0.3s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: $primary-font-color;
                color: $primary-compliment-landing;
                border: solid 1px $primary-compliment-landing;
              }
            }
          }
        }
      }
    }

    .next-overlay {
      display: none !important;
      @include flexCenter;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #231f206c;
      top: 0%;
      left: 0%;
      z-index: 10;
      .confirmation-modal {
        display: grid;
        background-color: #d9d9d9;
        margin: auto;
        border-radius: 1rem;
        padding: 2rem;
        gap: 1rem;
        grid-template-rows: auto;
        height: auto;
        width: 80%;

        .confirm-container {
          display: grid;
          grid-template-columns: 20rem 1fr 1fr;
          grid-template-rows: 1fr auto;
          background-color: #fff;
          gap: 1rem;
          padding: 1rem;

          .left {
            grid-column: 1/2;
            grid-row: 1/2;
            border-radius: 1rem;
            @include flexCenter;
            span {
              font-size: 10rem;
            }
            // justify-content: center;
          }
          .right {
            border: solid 1px #000;
            border-radius: 1rem;
            padding: 2rem;
            height: 100%;
            grid-column: 2/4;
            grid-row: 1/2;
            p {
              border: solid 1px #000;
              border-radius: 1rem;
              padding: 1rem;
              height: 40vh;
              overflow-y: auto;
            }
          }
          .btnContainer {
            @include flexCenter;
            gap: 1rem;
            grid-column: 1/4;
            grid-row: 2/3;

            button {
              @include flexCenter;
              padding: 1.6rem;
              height: 3rem;
              border-radius: 5px;
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
              transition: all 0.3s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: $primary-font-color;
                color: $primary-compliment-landing;
                border: solid 1px $primary-compliment-landing;
              }
            }
          }
        }
      }
    }

    .success-overlay {
      display: none !important;
      @include flexCenter;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #231f206c;
      top: 0%;
      left: 0%;
      z-index: 11;
      .success-modal {
        display: grid;
        background-color: #d9d9d9;
        margin: auto;
        border-radius: 1rem;
        padding: 1rem;
        gap: 1rem;
        grid-template-rows: auto;
        width: auto;
        height: auto;

        .success-icons {
          @include flexColumn;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          padding: 2rem;
          border-radius: 1rem;
          min-height: 25vh;
          min-width: 25vw;

          span {
            font-size: 8rem;
            color: $primary-compliment-landing;
            @include flexCenter;
          }
          h3 {
            color: $primary-compliment-landing;
            text-align: center;
          }
          .return {
            @include flexCenter;

            button {
              @include flexCenter;
              padding: 1.2rem;
              height: 3rem;
              border-radius: 5px;
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
              transition: all 0.3s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: $primary-font-color;
                color: $primary-compliment-landing;
                border: solid 1px $primary-compliment-landing;
              }
            }
          }
        }
      }
    }

    .view-overlay {
      display: none !important;
      @include flexCenter;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #231f206c;
      top: 0%;
      left: 0%;
      z-index: 10;
      .view-modal {
        display: grid;
        background-color: #d9d9d9;
        margin: auto;
        border-radius: 1rem;
        padding: 2rem;
        gap: 1rem;
        grid-template-rows: auto;
        height: auto;
        width: 80%;

        .view-container {
          display: grid;
          grid-template-columns: 20rem 1fr 1fr;
          grid-template-rows: 1fr auto;
          background-color: #fff;
          gap: 1rem;
          padding: 1rem;

          .left {
            grid-column: 1/2;
            grid-row: 1/2;
            border-radius: 1rem;
            @include flexCenter;
            span {
              font-size: 10rem;
            }
            // justify-content: center;
          }
          .right {
            border: solid 1px #000;
            border-radius: 1rem;
            padding: 2rem;
            height: 100%;
            grid-column: 2/4;
            grid-row: 1/2;
            p {
              border: solid 1px #000;
              border-radius: 1rem;
              padding: 1rem;
              height: 40vh;
              overflow-y: auto;
            }
          }
          .btnContainer {
            @include flexCenter;
            gap: 1rem;
            grid-column: 1/4;
            grid-row: 2/3;

            button {
              @include flexCenter;
              padding: 1.6rem;
              height: 3rem;
              border-radius: 5px;
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
              transition: all 0.3s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: $primary-font-color;
                color: $primary-compliment-landing;
                border: solid 1px $primary-compliment-landing;
              }
            }
          }
        }
      }
    }

    form {
      @include flexCenter;
      background-color: $light-bg-color;
      width: 100%;
      padding: 0 1.5rem;
      margin: auto;
      border-radius: 1rem 1rem 0 0;
      input {
        width: 100%;
        background: transparent;
        padding: 1rem;
        outline: none;
        border: 0;
      }
    }

    .btn-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0 3rem;
      button {
        @include flexCenter;
        padding: 1.5rem 3.8rem;
        height: 4rem;
        border-radius: 1rem;
        border: solid 1px transparent;
        color: $primary-font-color;
        background-color: $primary-compliment-landing;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        cursor: pointer;

        &.delete:hover {
          background-color: $red-primary-color;
        }
        &.create:hover,
        &.edit:hover {
          background-color: $primary-font-color;
          color: $primary-compliment-landing;
          border: solid 1px $primary-compliment-landing;
        }
      }
    }
    .bottom {
      display: grid;
      grid-template-columns: 14rem auto;
      grid-auto-rows: 14rem;
      // border-top: solid 1px #fff;
      border-radius: 0 0 1rem 1rem;
      height: 100%;
      gap: 1rem;
      padding: 2rem;
      & > * {
        // border: solid 1px #fff;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
      }
      .img-container {
        span {
          display: flex;
          justify-content: flex-end;
        }
      }
      .internship-details {
        display: grid;
        grid-template-rows: auto auto;

        .title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          span {
            @include flexCenter;
            font-size: 2rem;
          }
        }
        .internship-content {
          width: auto;
          height: auto;
          overflow-y: auto;
          padding: 1rem;
          border: solid 1px #000;
          border-radius: 1rem 0 0 1rem;
          p {
            font-size: 1.5rem;
          }
        }
        .viewMore {
          display: none;
        }
      }
    }
  }
}

// Responsive
@media screen and(max-width: 1030px) {
  .internship-container {
    .coordinator-internship {
      .next-overlay {
        .confirmation-modal {
          width: 70%;

          .confirm-container {
            grid-template-rows: 12rem auto auto;
            grid-template-columns: 1fr 1fr 1fr;
            .left {
              grid-column: 1/4;
              grid-row: 1/2;
            }
            .right {
              grid-column: 1/4;
              grid-row: 2/3;
            }
            .btnContainer {
              grid-column: 1/4;
              grid-row: 3/4;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 750px) {
  .internship-container {
    .coordinator-internship {
      .next-overlay {
        .confirmation-modal {
          width: 85%;
          .confirm-container {
            .right {
              h3 {
                text-align: center;
              }
            }
          }
        }
      }

      .view-overlay {
        .view-modal {
          width: 85%;

          .view-container {
            grid-template-rows: 12rem auto auto;
            grid-template-columns: 1fr 1fr 1fr;
            .left {
              grid-column: 1/4;
              grid-row: 1/2;
            }
            .right {
              grid-column: 1/4;
              grid-row: 2/3;
              h3 {
                text-align: center;
              }
            }
            .btnContainer {
              grid-column: 1/4;
              grid-row: 3/4;
            }
          }
        }
      }
      .btn-container {
        padding: 0;
        @include flexCenter;
        button {
          padding: 1.5rem 2.5rem;
        }
      }
      .bottom {
        grid-template-columns: 12rem auto;
        grid-auto-rows: 12rem;
        .internship-details {
          grid-template-columns: 1fr 1fr 0.7fr;
          grid-auto-rows: auto auto;
          .title {
            grid-column: 1/4;
            grid-row: 1/2;
          }
          .internship-content {
            // grid-column: 1/4;
            grid-column: 1/3;
            grid-row: 2/3;
            border-radius: 0.5rem;
            border-right: none;
            border-radius: 0.5rem 0 0 0.5rem;
          }
          .viewMore {
            @include flexCenter;
            grid-column: 3/4;
            grid-row: 2/3;
            border-radius: 0 1rem 1rem 0;
            border: solid 1px #000;
            border-left: none;
            border-radius: 0 0.5rem 0.5rem 0;
            padding: 0 1rem 0 0;

            .viewMore-btn {
              @include flexCenter;
              // padding: 1.2rem;
              padding: 0 1rem;
              height: 4rem;
              border-radius: 5px;
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
              transition: all 0.3s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: $primary-font-color;
                color: $primary-compliment-landing;
                border: solid 1px $primary-compliment-landing;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .internship-container {
    .coordinator-internship {
      .view-overlay {
        .view-modal {
          width: 100%;
          .view-container {
            grid-template-rows: 10rem auto auto;
            .left {
              span {
                font-size: 7rem;
              }
            }
            .right {
              p {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .next-overlay {
        .confirmation-modal {
          width: 100%;
          .confirm-container {
            grid-template-rows: 10rem auto auto;
            .left {
              span {
                font-size: 7rem;
              }
            }
            .right {
              p {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .create-overlay {
        .create-modal {
          padding: 1rem;
          .create-container {
            .top {
              grid-template-columns: 8rem auto;
              grid-auto-rows: 8rem;
              gap: 0.5rem;

              .right {
                label {
                  padding: 0;
                  gap: 0.5rem;
                  padding: 0 1rem;

                  h4 {
                    text-align: center;
                  }
                  input {
                    padding: 0.5rem !important;
                  }
                }
              }
            }
            .text {
              label {
                min-width: 15vw;
                min-height: 30vh;
              }
            }
          }
        }
      }

      .bottom {
        padding: 1rem;
        grid-template-columns: 10rem auto;
        grid-auto-rows: 10rem;
        .internship-details {
          .internship-content {
            display: none;
          }
          .viewMore {
            @include flexCenter;
            grid-column: 1/4;
            grid-row: 2/3;
            border: solid 1px #000;
            border-radius: 1rem;
            padding: 1rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 400px) {
  .internship-container {
    .coordinator-internship {
      .create-overlay {
        .internship-modal {
          .create-container {
            .text {
              label {
                padding: 0;
              }
            }
          }
        }
      }
      gap: 1rem;

      .btn-container {
        @include flexColumn;
        gap: 0.5rem;
        button {
          height: 3rem;
          padding: 1.5rem 2.5rem;
        }
      }
    }
  }
}
