/** @format */

@import "../../utils";
@import "../../variables";

.intern-container {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto minmax(45rem, 73vh);
  gap: 1rem;

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    & > * {
      display: flex;
      align-items: center;
      background-color: #282b30;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    h2 {
      color: #fff;
    }
    .navigation {
      justify-content: space-between;
      gap: 1rem;
      .left-side {
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          cursor: pointer;
          height: 4rem;
          @include flexCenter;
          padding: 0rem 2rem;
          border-radius: 5px;
          border: solid 1px transparent;
          outline: none;
          background-color: $primary-compliment-landing;
          color: $primary-font-color;
          letter-spacing: 0.2rem;
          transition: all 0.3s ease-in-out;
          font-weight: 600;
          &:hover {
            background-color: $primary-feature-bg;
            color: #fff;
            border: solid 1px $primary-feature-bg;
          }
        }
      }
      .right-side {
        @include flexCenter;
        form {
          @include flexCenter;
          background-color: $light-bg-color;
          width: 80%;
          border-radius: 2rem;
          padding: 0 1.5rem;
          // margin: 1rem 1rem auto auto;

          span {
            @include flexCenter;
            font-size: 2rem;
            cursor: pointer;
          }
          input {
            width: 100%;
            background: transparent;
            padding: 1rem;
            outline: none;
            border: 0;
          }
        }
      }
    }
  }
  .interns {
    background-color: #282b30;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    height: 100%;
    border-radius: 1rem;
    .no-entries {
      height: 100%;
      @include flexColumn;
      align-items: center;
      padding: 1rem;
      h3 {
        text-align: center;
        color: #fff;
        b {
          color: #109da1;
        }
      }
      .img-waiting {
        margin: 0 auto;
        img {
          height: 35rem;
          width: 35rem;
        }
      }
    }

    .intern {
      display: grid;
      grid-template-columns: 12rem auto;
      border: solid 1px #fff;
      padding: 1rem;
      border-radius: 1rem;
      gap: 1rem;
      cursor: pointer;
      font-size: 1.4rem;
      transition: all 0.2s linear;
      background-color: #d9d9d9;

      .img-container {
        height: 12rem;
        width: 12rem;
        margin: auto;
        img {
          border-radius: 1rem;
          height: 100%;
          width: 100%;
          background-color: #d9d9d9;
        }
      }
      .intern-details {
        background-color: #fff;
        // background-color: #d9d9d9;
        padding: 1rem;
        display: grid;
        // grid-template-columns: auto auto;
        // grid-template-columns: 1fr 1fr;
        border-radius: 1rem;
        gap: 0.5rem;
        .btnContainer {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 1rem;
          button {
            @include flexCenter;
            padding: 1.6rem;
            height: 3rem;
            border-radius: 5px;
            border: solid 1px transparent;
            color: $primary-font-color;
            background-color: $primary-compliment-landing;
            transition: all 0.3s ease-in-out;
            font-weight: 600;
            cursor: pointer;

            &:hover {
              background-color: $primary-font-color;
              color: $primary-compliment-landing;
              border: solid 1px $primary-compliment-landing;
            }
          }
        }
      }
    }
    .active-intern {
      color: #fff;
      background-color: $primary-compliment-landing;

      .intern-details {
        background-color: lighten(
          $color: $primary-compliment-landing,
          $amount: 5
        );

        .btnContainer {
          button {
            background-color: $primary-font-color;
            color: $primary-compliment-landing;
            border: solid 1px $primary-compliment-landing;
            &:hover {
              border: solid 1px transparent;
              color: $primary-font-color;
              background-color: $primary-compliment-landing;
            }
          }
        }
      }
    }
  }
  .interns-active {
    grid-auto-rows: 16rem;
    grid-template-columns: repeat(auto-fill, 35.5rem);
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 8;
  }
  .modal {
    z-index: 9;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 40rem;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 1rem;
  }

  .preview-container {
    width: 60rem;
    height: 53rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    .selected-intern {
      display: grid;
      grid-template-rows: auto repeat(2, 1fr);
      gap: 1rem;

      .middle-con,
      .right-con {
        background-color: #fff;
        border-radius: 1rem;
        padding: 1rem;
        height: 14rem;
        overflow-y: auto;
      }
      img {
        border-radius: 1rem;
        height: 14rem;
        margin: auto;
        width: 14rem;
      }
    }
    .btn-close {
      justify-content: center;
    }
  }
  .sort,
  .filter {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #d9d9d9;
    gap: 1rem;
    form {
      @include flexColumn;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border: solid 1px #000;
      background-color: #fff;
    }
  }
  .btn-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid #fff;
    button {
      cursor: pointer;
      height: 4rem;
      @include flexCenter;
      padding: 0rem 2rem;
      border-radius: 1rem;
      border: solid 1px transparent;
      background-color: $primary-compliment-landing;
      color: $primary-font-color;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      &:hover {
        background-color: $primary-feature-bg;
        border-radius: 0;
        color: #fff;
        border: solid 1px $primary-feature-bg;
      }
    }
  }
  .sort {
    form {
      & > * {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        font-size: 2rem;
        & > * {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}

// Responsive

//min-height
@media screen and (min-height: 700px) {
  .intern-container {
    grid-template-rows: auto minmax(45rem, 76vh);
    .interns {
      .no-entries {
        .img-waiting {
          img {
            height: 40rem;
            width: 40rem;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 800px) {
  .intern-container {
    grid-template-rows: auto minmax(45rem, 79vh);
  }
}

//max-width
@media screen and (max-width: 920px) {
  .intern-container {
    .interns-active {
      grid-template-columns: 1fr;
      grid-auto-rows: 14rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .intern-container {
    .interns {
      .no-entries {
        .img-waiting {
          img {
            height: 30rem;
            width: 30rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .intern-container {
    .preview-container {
      width: 90%;
    }
  }
}

@media screen and (max-width: 600px) {
  .intern-container {
    grid-template-rows: auto minmax(35rem, 63vh);
    .preview-container {
      height: 52rem;
      .selected-intern {
        .middle-con,
        .right-con {
          font-size: 1.8rem;
        }
        img {
          height: 13rem;
          width: 13rem;
        }
      }
    }
    .interns {
      .no-entries {
        h3 {
          font-size: 1.9rem;
        }
        .img-waiting {
          img {
            height: 25rem;
            width: 25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .intern-container {
    header {
      .navigation {
        grid-template-columns: auto;
        padding: 1rem;
        gap: 0rem;
        .left-side,
        .right-side {
          border: none;
        }
        .left-side {
          button {
            height: 3rem;
          }
        }
      }
    }
    .interns {
      .intern {
        grid-template-columns: 10rem auto;
        .img-container {
          height: 10rem;
          width: 10rem;
        }
        .intern-details {
          gap: 0.2rem;
        }
      }
    }
    .interns-active {
      grid-auto-rows: 12rem;
    }
    .modal {
      width: 100%;
    }
    .sort,
    .filter {
      gap: 0.5rem;
      h3 {
        font-size: 2.1rem;
      }
      form {
        gap: 0.5rem;
      }
    }
    .sort {
      height: 35rem;
      form {
        & > * {
          gap: 0.5rem;
          font-size: 1.8rem;
          & > * {
            gap: 0.5rem;
          }
        }
      }
      .btn-close {
        button {
          height: 3.5rem;
        }
      }
    }
    .btn-close {
      button {
        height: 3.5rem;
      }
    }
    .preview-container {
      width: 100%;
      height: 51rem;
      .selected-intern {
        .middle-con,
        .right-con {
          font-size: 1.7rem;
        }
        img {
          height: 12rem;
          width: 12rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .intern-container {
    // grid-template-rows: auto minmax(35rem, 59vh);
    .interns {
      .intern {
        grid-template-columns: auto;
        .img-container {
          display: none;
        }
        .intern-details {
          @include flexCenter;
          flex-direction: column;
          text-align: center;
          gap: 0.2rem;
        }
      }
    }
    .preview-container {
      height: 49rem;
      .selected-intern {
        .middle-con,
        .right-con {
          font-size: 1.6rem;
        }
        img {
          height: 10rem;
          width: 10rem;
        }
      }
    }
  }
}
