/** @format */

@import "../../utils";
@import "../../variables";

.internship-container {
  display: grid;
  grid-template-rows: auto minmax(30rem, 69vh);
  gap: 1rem;

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    .page-title {
      color: #fff;
      padding: 2rem;
      background-color: #282b30;
      border-radius: 1rem;
      display: flex;
      align-items: center;
    }
    .btn-container {
      background-color: #282b30;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 1rem;
      button {
        height: 5rem;
        width: 12rem;
      }
    }
  }
  button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.2s linear;
    font-weight: 600;
    @include flexCenter;
    gap: 1rem;
    .icon {
      font-size: 1.2rem;
    }
    p {
      padding-top: 0.2rem;
    }
    &:hover {
      background-color: $primary-feature-bg;
      border-radius: 1rem;
      color: #fff;
    }
  }
  .content {
    border-radius: 1rem;
    background-color: #282b30;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 42.5rem);
    grid-auto-rows: 15rem;
    gap: 1rem;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    .internship {
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: 13rem 1fr;
      gap: 1rem;
      .img-con {
        height: 13rem;
        width: 13rem;
        margin: auto;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .controls {
        display: grid;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1.5rem;
        h4 {
          white-space: nowrap; /* Prevents text from wrapping */
          overflow: hidden; /* Hides any overflowed text */
          text-overflow: ellipsis;
        }
        .internship-btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          button {
            border-radius: 1rem;
            background-color: #d9d9d9;
            &:hover {
              background-color: $primary-compliment-landing;
              border-radius: 0;
              color: #fff;
            }
          }
        }
      }
    }
    .message-con {
      position: absolute;
      bottom: 0%;
      left: 100%;
      min-width: 35rem;
      height: 6rem;
      background-color: $primary-feature-bg;
      z-index: 2;
      border-radius: 1rem;
      color: #fff;
      font-weight: 600;
      @include flexCenter;
      transition: all 0.2s ease-in-out;
    }
    .active {
      transform: translate(-100%);
      transition: all 0.2s ease-in-out;
    }
  }
  .no-internship {
    display: flex;
    align-items: center;
    // justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #282b30;
    border-radius: 1rem;
    color: #fff;
    gap: 1rem;
    padding: 2rem;
    h3 {
      text-align: center;
      color: #fff;
      b {
        color: #109da1;
      }
    }
    img {
      height: 35rem;
      width: 35rem;
    }
  }

  .overlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    filter: blur(20px);
    top: 0%;
    left: 0%;
    z-index: 6;
  }
  .modal {
    background-color: #fff;
    border-radius: 1rem;
    width: 60rem;
    height: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    padding: 1rem;
  }

  .add-modal {
    width: 75rem;
    // height: 75rem;
    height: 80%;
    display: flex;
    background-color: #d9d9d9;

    form {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 22rem 1fr 1fr 22rem;
      grid-template-rows: repeat(6, 9.5rem) auto;
      gap: 1rem;
      padding: 2rem;
      overflow: hidden;
      overflow-y: auto;

      .input-contain {
        display: flex;
        position: relative;
        flex-direction: column;
        width: fit-content;
        justify-content: space-evenly;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;

        textarea {
          resize: none;
          height: 100%;
          border: solid 3px transparent;
          outline: solid 1px #8b8b8b;
          border-radius: 0.5rem;
          padding: 1.1rem 3.5rem 1.1rem 2rem;
          letter-spacing: 2px;
          transition: all 0.3s ease-in-out;
          &:focus {
            border: solid 3px $primary-bg-color;
            outline: none;
          }

          .placeholder-container {
            position: absolute;
            top: 0%;
            left: 0rem;
            height: 100%;
            width: 100%;
            pointer-events: none;
            font-size: 2rem;
          }

          &:focus + .placeholder-container .placeholder-text {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            color: black;
            scale: 0.8;
          }
        }

        .error-message {
          font-size: 1.4rem;
          color: red;
          text-align: center;
        }

        .placeholder-container {
          position: absolute;
          top: 0%;
          left: 0rem;
          height: 4.5rem;
          width: 100%;
          pointer-events: none;
        }

        input {
          // margin: auto;
          width: 100%;
          height: 4rem;
          // height: 100%;
          border: solid 3px transparent;
          outline: solid 1px #8b8b8b;
          border-radius: 0.5rem;
          padding: 1.1rem 3.5rem 1.1rem 2rem;
          // padding: 1rem 1rem 1rem 3rem;
          letter-spacing: 2px;
          transition: all 0.3s ease-in-out;
          background-color: #fff;

          &:focus {
            border: solid 3px $primary-bg-color;
            outline: none;
          }

          &:focus + .placeholder-container .placeholder-text {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            color: black;
            // border: solid 1px #8b8b8b;
            scale: 0.8;
          }
        }

        .placeholder-text {
          position: absolute;
          transition: all 0.2s ease-in-out;
          pointer-events: none;
          top: 50%;
          left: 5%;
          transform: translate(0%, -50%);
          &:nth-child(1) {
            left: 2% !important;
          }
          .text {
            font-size: 1.4rem;
            padding: 0 0.5rem;
            background-color: transparent;
            color: black;
            display: flex;
            gap: 0.5rem;
            align-items: center;
          }
        }
        .active {
          top: 0%;
          left: 0%;
          background-color: #fff;
          font-size: 1.1rem;
          border-color: #8b8b8b;
          scale: 0.8;
        }
      }

      .img-input {
        height: 5rem;
        display: flex;
        align-items: center;
        background-color: #fff;
        gap: 2rem;
        border-radius: 1rem;

        input[type="file"] {
          display: none;
        }
        p {
          font-size: 1.8rem;
        }
        label {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          padding: 1rem;
          p {
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
          }
          img {
            width: 90%;
            height: 90%;
            margin: auto;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }

      & > :nth-child(1) {
        grid-column: 2/5;
        grid-row: 1/2;
      }
      & > :nth-child(2) {
        grid-column: 2/5;
        grid-row: 2/3;
      }
      & > :nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/4;
      }
      & > :nth-child(4) {
        grid-column: 3/5;
        grid-row: 3/4;
      }
      & > :nth-child(5) {
        grid-column: 1/3;
        grid-row: 4/5;
      }
      & > :nth-child(6) {
        grid-column: 3/5;
        grid-row: 4/5;
      }

      & > :nth-child(7) {
        height: 100%;
        width: 100%;
        grid-row: 1/3;
        grid-column: 1/2;
      }
      & > :nth-child(8) {
        height: 100%;
        width: 100%;
        grid-row: 5/7;
        grid-column: 1/5;
      }

      .btn-holder {
        grid-column: 1/5;
        @include flexCenter;
        background-color: none;
        gap: 1rem;
        button {
          @include flexCenter;
          cursor: pointer;
          height: 4.5rem;
          padding: 1.6rem;
          border-radius: 5px;
          border: solid 1px transparent;
          outline: none;
          color: $primary-font-color;
          background-color: $primary-compliment-landing;
          transition: all 0.3s ease-in-out;
          font-weight: 600;

          // margin: 0 auto;
          // letter-spacing: 0.2rem;
          &:first-child:hover {
            background-color: $red-primary-color;
          }
          &.back-btn:hover,
          &.approve-btn:hover,
          &.view:hover {
            background-color: #d9d9d9;
            color: $primary-compliment-landing;
            border: solid 1px $primary-compliment-landing;
          }
        }
      }
    }
  }
  .view-modal {
    height: 92%;
    width: 70rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 18rem repeat(6, minmax(6rem, auto)) 15rem auto;
    grid-template-rows: 18rem repeat(6, auto) 15rem repeat(2, auto);
    gap: 1rem;
    overflow-y: auto;
    padding: 3rem;

    .input {
      display: grid;
      grid-template-columns: 18rem auto;
      align-items: center;
      gap: 1rem;
      p {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.6rem;
        word-break: keep-all;
      }
      & > * {
        word-break: break-all;
      }

      // & > *:nth-child(2) {
      //   border: solid 1px #00000050;
      //   height: 100%;
      //   background-color: #efefef;
      //   display: flex;
      //   align-items: center;
      //   padding: 1rem;
      //   border-radius: 1rem;
      // }
      // &:nth-child(1) {
      //   grid-row: 2/3;
      //   grid-column: 1/4;
      //   background-color: red;
      // }
      // &:nth-child(2) {
      //   grid-row: 3/4;
      //   grid-column: 1/4;
      //   background-color: blue;
      // }
      // &:nth-child(3) {
      //   grid-row: 4/5;
      //   grid-column: 1/4;
      //   background-color: yellow;
      // }
      // &:nth-child(4) {
      //   grid-row: 5/6;
      //   grid-column: 1/4;
      //   background-color: green;
      // }
      // &:nth-child(5) {
      //   grid-row: 6/7;
      //   grid-column: 1/4;
      //   background-color: violet;
      // }
      //   grid-row: 7/8;
      //   grid-column: 1/4;
      //   background-color: brown; // &:nth-child(6) {

      // }

      // &:nth-child(7) {
      //   grid-row: 1/2;
      //   grid-column: 1/4;
      //   background-color: orange;
      // }
      // &:nth-child(8) {
      //   grid-row: 8/9;
      //   grid-column: 1/4;
      //   background-color: gray;
      // }
      // &:nth-child(9) {
      //   grid-row: 9/10;
      //   grid-column: 1/4;
      //   background-color: cadetblue;
      // }
    }

    & > .input {
      border: solid 1px #00000050;
      height: 100%;
      background-color: #efefef;
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 1rem;
    }

    .company-name {
      background-color: red;
      grid-row: 2/3;
      grid-column: 1/4;
    }
    .company-address {
      grid-row: 3/4;
      grid-column: 1/4;
    }
    .supervisor {
      grid-row: 4/5;
      grid-column: 1/4;
    }
    .supervisor-contact {
      grid-row: 5/6;
      grid-column: 1/4;
    }
    .email {
      grid-row: 6/7;
      grid-column: 1/4;
      background-color: violet;
    }
    .duties {
      grid-row: 7/8;
      grid-column: 1/4;
      background-color: brown;
    }
    .logo {
      grid-row: 8/9;
      grid-column: 1/4;
      background-color: gray;
    }
    .description {
      grid-row: 9/10;
      grid-column: 1/4;
      background-color: cadetblue;
    }

    .img-con {
      @include flexCenter;
      border: solid 1px #00000050;
      border-radius: 1rem;
      img {
        // height: 10rem;
        // width: 10rem;
        height: 90%;
        width: 100%;
        object-fit: contain;
      }
    }

    .close-btn {
      grid-column: 1/4;
      margin: auto;
      button {
        border-radius: 1rem;
        height: 4.5rem;
        color: #fff;
        background-color: $primary-compliment-landing;
        &:hover {
          border-radius: 0;
          background-color: $primary-feature-bg;
        }
      }
    }
  }
  .edit-modal {
    @extend .add-modal;
  }
}

// Responsive

//min-height
@media screen and (min-height: 680px) {
  .internship-container {
    grid-template-rows: auto minmax(30rem, 72vh);
    .no-internship {
      font-size: 2.3rem;
      img {
        height: 40rem;
        width: 40rem;
      }
    }
  }
}
@media screen and (min-height: 750px) {
  .internship-container {
    grid-template-rows: auto minmax(30rem, 74vh);
  }
}

@media screen and (min-height: 820px) {
  .internship-container {
    grid-template-rows: auto minmax(30rem, 77vh);
    .no-internship {
      font-size: 2.5rem;
      img {
        height: 45rem;
        width: 45rem;
      }
    }
  }
}

//max-width
@media screen and (max-width: 1150px) {
  .internship-container {
    .content {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 1030px) {
  .internship-container {
    .content {
      grid-auto-rows: 14rem;
      .internship {
        grid-template-columns: 13rem 1fr;
        .img-con {
          height: 12rem;
          width: 12rem;
        }
      }
    }
    .add-modal {
      width: 85%;
      form {
        grid-template-rows: repeat(2, 9.5rem) auto repeat(3, 9.5rem) auto;
      }
    }

    .view-modal {
      width: 72rem;
      height: 95%;
    }
    .no-internship {
      h2 {
        font-size: 2.2rem;
      }
      img {
        height: 35rem;
        width: 35rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .internship-container {
    .add-modal {
      width: 90%;
      height: 90%;
      form {
        grid-template-rows: repeat(3, 9.5rem) auto repeat(3, 9.5rem) auto;

        .input-contain {
          h3 {
            font-size: 1.9rem;
          }
        }

        & > :nth-child(1) {
          grid-column: 1/3;
          grid-row: 3/4;
        }
        & > :nth-child(2) {
          grid-column: 3/5;
          grid-row: 3/4;
        }
        & > :nth-child(3) {
          grid-column: 1/3;
          grid-row: 4/5;
        }
        & > :nth-child(4) {
          grid-column: 3/5;
          grid-row: 4/5;
        }
        & > :nth-child(5) {
          grid-column: 1/3;
          grid-row: 5/6;
        }
        & > :nth-child(6) {
          grid-column: 3/5;
          grid-row: 5/6;
        }

        & > :nth-child(7) {
          height: 100%;
          width: 100%;
          grid-row: 1/3;
          grid-column: 1/5;
        }
        & > :nth-child(8) {
          height: 100%;
          width: 100%;
          grid-row: 6/8;
          grid-column: 1/5;
        }
      }
    }

    .view-modal {
      width: 90%;
      height: 92%;
    }
  }
}

@media screen and (max-width: 700px) {
  .internship-container {
    .add-modal {
      width: 100%;
      form {
        grid-template-columns: repeat(4, auto);

        grid-template-rows: 15rem repeat(6, 9.5rem) 15rem auto;

        & > :nth-child(1) {
          grid-column: 1/5;
          grid-row: 2/3;
        }
        & > :nth-child(2) {
          grid-column: 1/5;
          grid-row: 3/4;
        }
        & > :nth-child(3) {
          grid-column: 1/5;
          grid-row: 4/5;
        }
        & > :nth-child(4) {
          grid-column: 1/5;
          grid-row: 5/6;
        }
        & > :nth-child(5) {
          grid-column: 1/5;
          grid-row: 6/7;
        }
        & > :nth-child(6) {
          grid-column: 1/5;
          grid-row: 7/8;
        }
        & > :nth-child(7) {
          height: 100%;
          width: 100%;
          grid-row: 1/2;
          grid-column: 1/5;
        }
        & > :nth-child(8) {
          height: 100%;
          width: 100%;
          grid-row: 8/9;
          grid-column: 1/5;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .internship-container {
    grid-template-rows: auto minmax(40rem, 70vh);
    header {
      grid-template-columns: 1fr auto;
      gap: 0;
      .page-title {
        border-radius: 1rem 0 0 1rem;
      }
      .btn-container {
        border-radius: 0 1rem 1rem 0;
        button {
          height: 4rem;
        }
      }
    }
    .content {
      grid-auto-rows: 12rem;
      .internship {
        grid-template-columns: 11rem 1fr;
        .img-con {
          height: 10rem;
          width: 10rem;
        }
      }
    }
    .view-modal {
      padding: 2rem;
      width: 95%;
      height: 95%;

      .input {
        grid-template-columns: 9.5rem auto;
      }
    }

    .no-internship {
      h2 {
        font-size: 2rem;
      }
      img {
        height: 28rem;
        width: 28rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .internship-container {
    header {
      .page-title {
        padding: 1rem 0.5rem 1rem 2rem;
      }
      .btn-container {
        padding: 1rem 2rem 1rem 0.5rem;
        button {
          height: 3.5rem;
          width: 10rem;
        }
      }
    }
    .content {
      padding: 6rem 2rem 2rem 2rem;
      grid-auto-rows: 12rem;
      .internship {
        grid-template-columns: 1fr;
        background-color: $primary-compliment-landing;
        .img-con {
          display: none;
        }
        .controls {
          justify-content: center;
          gap: 0.5rem;
          h4 {
            font-size: 1.6rem;
            text-align: center;
          }
          .internship-btn {
            justify-content: center;
          }
        }
      }
      .message-con {
        font-size: 1.5rem;
        min-width: 28rem;
        top: 0;
        height: 4.5rem;
      }
    }
    .add-modal {
      border-radius: 0;
      width: 100%;
      height: 100%;
      form {
        grid-template-rows: 15rem repeat(6, auto) 15rem auto;
        padding: 1rem;
        .input-contain {
          h3 {
            font-size: 1.6rem;
          }
          input {
            height: 3.5rem;
          }
        }
        .btn-holder {
          button {
            height: 3.5rem;
          }
        }
      }
    }
    .view-modal {
      border-radius: 0;
      width: 100%;
      height: 100%;
      .close-btn {
        button {
          height: 3.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .internship-container {
    grid-template-rows: auto minmax(40rem, 73vh);
  }
}
