@import "../../utils";
@import "../../variables";

.internship-container {
  height: 100%;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 1rem;
  padding: 2rem;

  .internship {
    display: grid;
    grid-template-rows: 15rem 5.5rem auto;
    background-color: #33363a;
    padding: 1rem;
    .top {
      @include flexColumn;
      justify-content: center;
      color: #fff;
      p {
        width: 65%;
      }
    }
    .mid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      border: solid 1px #fff;
      background-color: #404449;

      .left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        button {
          @include flexCenter;
          height: 4rem;
          padding: 0rem 2rem;
          border-radius: 1rem;
          border: transparent 1px solid;
          background-color: #404449;
          color: $primary-font-color;
          transition: all 0.4s ease-in-out;
          font-weight: 650;
          gap: 0.4rem;
          cursor: pointer;
          span {
            @include flexCenter;
            font-size: 1.8rem;
          }
          &:hover {
            background-color: #393e46;
          }
        }
      }
      .right {
        @include flexCenter;
        background-color: $light-bg-color;
        width: 80%;
        border-radius: 2rem;
        padding: 0 1.5rem;
        margin: 1rem 1rem auto auto;

        span {
          @include flexCenter;
          font-size: 2rem;
          cursor: pointer;
        }
        input {
          width: 100%;
          background: transparent;
          padding: 1rem;
          outline: none;
          border: 0;
        }
      }
    }
    .bottom {
      border: solid 1px #fff;
      min-height: 70vh;
      .main-content {
        display: grid;
        grid-template-columns: 12rem auto;
        grid-auto-rows: 12rem;
        gap: 1rem;
        padding: 1.5rem;
        .left-img {
          height: auto;
          width: auto;
          background-color: #fff;
        }
        .right-content {
          display: flex;
          align-items: center;
          // color: #000;
          background-color: #fff;
          font-size: 1.5rem;
          padding: 1rem;
        }
      }
    }
  }
}
