/** @format */

@import "../../utils";
@import "../../variables";

.admin-dashboard {
  display: grid;
  grid-template-rows: auto minmax(45rem, 79vh);
  gap: 1rem;

  .overlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 6;
  }
  .success-modal {
    background-color: #fff;
    border-radius: 1rem;
    height: 60rem;
    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    @include flexCenter;
    flex-direction: column;
    gap: 1rem;
    h3 {
      color: #02c489;
    }
    img {
      height: 20rem;
      width: 20rem;
    }
    button {
      cursor: pointer;
      height: 4.5rem;
      width: 12.5rem;
      // margin: auto;
      border-radius: 5px;
      border: solid 1px transparent;
      outline: none;

      background-color: #fff;
      color: #000;
      border: solid 1px #000;

      transition: all 0.3s ease-in-out;
      font-weight: bold;
      &:hover {
        background-color: #02c489;
        border: solid 1px #02c489;
        color: #fff;
      }
    }
  }
  .error-modal {
    @extend .success-modal;
    gap: 0;
    h3 {
      color: red;
    }
    img {
      height: 20rem;
      width: 20rem;
    }
    button {
      &:hover {
        background-color: $red-primary-color;
        border: solid 1px $red-primary-color;
        color: #fff;
      }
    }
  }

  & > header {
    color: #fff;
    padding: 1rem 0 0 2rem;
    margin: auto 0;
    h1 {
      font-size: 4rem;

      b {
        color: $primary-feature-bg;
      }
    }
    h3 {
      font-size: 2rem;
    }
  }

  // & > * {
  //   background-color: #282b30;
  //   border-radius: 1rem;
  // }
  .content {
    background-color: #282b30;
    border-radius: 1rem;
    border: solid 2px #fff;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    color: #fff;
    height: 100%;
    overflow-y: auto;
    header {
      color: #000;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h2 {
        color: #fff;
      }
      .brief-text {
        background-color: #fff;
        text-align: center;
        padding: 2rem;
        border-radius: 1rem;
      }
    }

    .form-container {
      @include flexColumn;
      // display: grid;
      // grid-template-columns: repeat(6, 1fr);
      // grid-template-columns: 1fr;
      // grid-template-rows: repeat(7, auto);
      // grid-template-rows: 15rem 10rem 9rem 9rem auto;
      //   align-items: center;
      padding: 2rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      // & > div:nth-child(1) {
      //   grid-row: 1/2;
      //   grid-column: 1/2;
      // }
      // & > div:nth-child(5) {
      //   grid-row: 1/2;
      //   grid-column: 2/7;
      // }
      // & > div:nth-child(2) {
      //   grid-row: 2/3;
      //   grid-column: 1/7;
      // }
      // & > div:nth-child(3) {
      //   grid-row: 3/4;
      //   grid-column: 1/4;
      // }
      // & > div:nth-child(4) {
      //   grid-row: 3/4;
      //   grid-column: 4/7;
      // }
      // & > div:nth-child(6) {
      //   grid-row: 4/5;
      //   grid-column: 1/4;
      // }
      // & > div:nth-child(7) {
      //   grid-row: 4/5;
      //   grid-column: 4/7;
      // }

      & > button {
        margin: auto;
        grid-column: 1/7;
      }

      .icons {
        color: #000;
      }

      .input-contain {
        display: flex;
        position: relative;
        flex-direction: column;
        border-radius: 0.5rem;
        width: 100%;
        gap: 1rem;
        margin: auto 0;
        .placeholder-container {
          position: absolute;
          top: 0%;
          left: 0%;
          height: 4.5rem;
          width: 100%;
          pointer-events: none;
        }
        .eye-container {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 1.4rem;
          right: 3%;
          svg {
            font-size: 1.7rem;
            cursor: pointer;
            pointer-events: all;
          }
        }
        input {
          height: 4.6rem;
          border: solid 3px transparent;
          outline: solid 1px #8b8b8b;
          border-radius: 0.5rem;
          padding: 1.1rem 3.5rem 1.1rem 1.1rem;
          letter-spacing: 2px;
          transition: all 0.1s ease-in-out;
          &:focus {
            border: solid 3px $primary-bg-color;
            outline: none;
          }

          &:focus + .placeholder-container .placeholder-text {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            color: black;
            // border: solid 1px #8b8b8b;
            scale: 0.8;
          }
        }
        .input-error {
          border: solid 2px #ed3737 !important;
        }
        .error-message {
          color: #ed3737;
          font-size: 1.2rem;
          font-weight: 600;
          width: auto;
        }
        .icons-error {
          color: red !important;
        }
        p {
          width: 30rem;
        }

        .placeholder-text {
          position: absolute;
          transition: all 0.2s ease-in-out;
          pointer-events: none;
          top: 50%;
          left: 5%;
          transform: translate(0%, -50%);
          &:nth-child(1) {
            left: 1rem !important;
          }
          .text {
            font-size: 1.4rem;
            padding: 0 0.5rem;
            background-color: transparent;
            color: black;
            display: flex;
            gap: 0.5rem;
            align-items: center;
          }
        }
        .active {
          top: 0%;
          left: 0%;
          background-color: #fff;
          font-size: 1.1rem;
          border-color: #8b8b8b;
          scale: 0.8;
        }
      }
      span {
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
          font-size: 1.7rem;
        }
      }
      .img-input {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        // width: fit-content;
        // margin: 0 auto;
        label {
          p {
            color: #000;
            display: flex;
            gap: 1rem;
            align-items: center;
            .icons {
              color: green;
            }
          }
          // border: solid 1px #000;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          font-size: 1.6rem;
          input[type="file"] {
            display: none;
          }
          .profile-con {
            border-radius: 50%;
            height: 10rem;
            width: 10rem;
            img {
              border: solid 1px #000;
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: contain;
            }
          }
        }
      }
      .choice-contain {
        background-color: #fff;
        display: grid;
        grid-template-columns: auto repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        position: relative;
        justify-content: center;
        border-radius: 0.5rem;
        gap: 1rem;
        padding: 1rem;
        color: #000;
        .placeholder-container {
          label {
            .text {
              display: flex;
              gap: 1rem;
              align-items: center;
            }
          }
        }
        .choices {
          background-color: #d9d9d9;
          display: flex;
          height: 4rem;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          border-radius: 1rem;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          label {
            text-transform: capitalize;
          }
          &:hover {
            background-color: $primary-compliment-landing;
            color: #fff;
          }
        }
        & > :nth-child(2) {
          color: #8a8a8a;
          margin: auto 0;
          // text-align: center;
          grid-column: 2/4;
          grid-row: 1/2;
        }
        :nth-child(3) {
          grid-row: 2/3;
          grid-column: 2/3;
        }
        :nth-child(4) {
          grid-row: 2/3;
          grid-column: 3/4;
        }
        label,
        input {
          cursor: pointer;
        }
      }

      button {
        // grid-row: 4/5;
        cursor: pointer;
        height: 4.5rem;
        width: 12.5rem;
        // margin: auto;
        border-radius: 5px;
        border: solid 1px transparent;
        outline: none;
        background-color: $primary-compliment-landing;
        color: #d9d9d9;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        &:hover {
          background-color: $primary-feature-bg;
          color: #fff;
          border: solid 1px $primary-feature-bg;
        }
      }
    }
  }
}

// Responsive
@media screen and (min-height: 700px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(45rem, 81vh);
  }
}

@media screen and (min-height: 800px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(30rem, 83vh);
  }
}

//max-width
@media screen and (max-width: 900px) {
  .admin-dashboard {
    & > header {
      h1 {
        font-size: 3.7rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .admin-dashboard {
    .success-modal {
      height: 55rem;
      img {
        height: 18rem;
        width: 18rem;
      }
      button {
        height: 4rem;
      }
    }
    & > header {
      h1 {
        font-size: 3.5rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
    .content {
      header {
        h2 {
          text-align: center;
          font-size: 2.5rem;
        }
      }
      .form-container {
        .choice-contain {
          grid-template-columns: auto 1fr;
          grid-template-rows: auto repeat(2, 1fr);
          & > :nth-child(2) {
            text-align: center;
            margin: auto;
          }
          :nth-child(3) {
            grid-row: 2/3;
            grid-column: 2/3;
          }
          :nth-child(4) {
            grid-row: 3/4;
            grid-column: 2/3;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(45rem, 74vh);
    & > header {
      h1 {
        font-size: 3.2rem;
      }
    }
    .content {
      .form-container {
        .img-input {
          label {
            .profile-con {
              height: 9rem;
              width: 9rem;
            }
          }
        }
        .choice-contain {
          :nth-child(3) {
            font-size: 1.7rem;
          }
          :nth-child(4) {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .admin-dashboard {
    .success-modal {
      height: 50rem;
      width: 100%;
      button {
        height: 3.5rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(45rem, 72vh);
    & > header {
      h1 {
        font-size: 3rem;
      }
    }
    .content {
      header {
        h2 {
          font-size: 2.3rem;
        }
        .brief-text {
          padding: 1.5rem;
        }
      }
      .form-container {
        .choice-contain {
          @include flexColumn;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(45rem, 70vh);
    .content {
      .form-container {
        padding: 1.5rem;
        .choice-contain {
          gap: 0.5rem;
          :nth-child(3) {
            font-size: 1.6rem;
          }
          :nth-child(4) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .admin-dashboard {
    grid-template-rows: auto minmax(45rem, 69vh);
  }
}
