@import "../../utils";
@import "../../variables";

.admin-documents {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 6vh auto;
  gap: 1rem;

  header {
    .search-box {
      display: flex;
      background-color: $light-bg-color;
      width: 25rem;
      border-radius: 2rem;
      align-items: center;
      padding: 0 1.5rem;
      margin: 1rem 1rem auto auto;
      span {
        @include flexCenter;
        font-size: 1.8rem;
        cursor: pointer;
      }
      input {
        width: 100%;
        background: transparent;
        padding: 1rem;
        outline: none;
        border: 0;
      }
    }
  }
  .documents-content {
    padding: 2rem;
    border: solid 1px #fff;
    border-radius: 1rem;
    // display: grid;
    // grid-template-rows: auto auto 1fr;
    // gap: 1rem;
    position: relative;
    @include flexColumn;
    flex: auto auto 1;
    gap: 2rem;
    z-index: 1;

    .inputs {
      input {
        width: 100%;
        height: 3.5rem;
        flex: 1;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      button {
        padding: 1rem 3.5rem;
        border-radius: 1rem;
        border: none;
      }
    }
    .files-container {
      background-color: rgba(255, 0, 0, 0.11);
      height: 100%;
      border: solid 1px #fff;
    }
    &::after {
      content: "";
      background-color: #32323280;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 95%;
      z-index: -1;
    }
  }
}
