@import "../../utils";
@import "../../variables";

.under-dev {
  background-color: $primary-bg-color-landing;
  padding: 3rem;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 50rem;
  }

  .con {
    width: 50rem;
    @include flexColumn;
    text-align: center;
  }
}
