@import "../../variables";
@import "../../utils";

.left-sidebar {
  display: grid;
  position: fixed;
  overflow: hidden;
  width: 26rem;
  top: 0%;
  left: 0%;
  height: 100%;
  grid-template-rows: 16rem 1fr 1fr;
  grid-template-columns: 100%;
  gap: 5px;
  background-color: $primary-bg-color-landing;
  transition: all 0.2s ease-in-out;

  & > * {
    border-top: solid 1px $ascent-color;
    border-bottom: solid 1px $ascent-color;
    margin: 0 1rem;
  }
  //top
  .img-con {
    @include flexColumn;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    transition: all 0.2s ease-in-out;
    img {
      height: 5rem;
    }
  }
  //middle
  .links-con {
    padding: 1rem;
    @include flexColumn;
    position: relative;
    a {
      // border: solid 1px #000;
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 1.5rem;
      display: flex;
      align-items: center;
      color: $primary-font-color;
      gap: 0.5rem;
      cursor: pointer;
    }
    .collapse-icon {
      position: absolute;
      transform: translate(0%, -50%);
      top: 50%;
      right: -0.5rem;
      cursor: pointer;
    }
  }
  //bottom
  .box {
    @include flexCenter;
    border: solid 1px #fff;
    border-radius: 2rem;
    margin: 2rem;

    button {
      height: 4rem;
      width: 14rem;
      outline: none;
      border: solid 1px $primary-bg-color;
      background-color: $primary-bg-color-landing;
      color: $primary-font-color;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease-in-out;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $primary-font-color;
        color: $primary-bg-color;
        border: solid 1px $secondary-bg-color;
      }
    }
  }
}

.active {
  width: 100px;
  .img-con {
    transition: all 0.2s ease-in;
    transform: rotate(90deg);
    img {
      height: 4rem;
    }
  }
  .links-con {
    a {
      font-size: 3rem;
    }
  }
}
