@import "../../variables";
@import "../../utils";

.right-sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 30rem;
  gap: 5px;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  background-color: $primary-bg-color-landing;

  & > * {
    border: solid 1px #fff;
  }
  .top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2rem;
  }
  .graph {
    color: #fff;
    text-align: center;
  }
  .graph2 {
    color: #fff;
    text-align: center;
  }
}
