/** @format */

@import "../../variables";
@import "../../utils";

.sidebar-right {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 7rem;
  gap: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: $primary-bg-color-landing;
  transition: all 0.2s ease-in;
  z-index: 5;

  span {
    background-color: lighten(
      $color: $primary-bg-color-landing-compliment,
      $amount: 10
    );
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    @include flexCenter;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
      background-color: $primary-bg-color;
      border-radius: 1rem;
    }
  }
  .icon {
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
  }
  .top {
    @include flexColumn;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;

    .profile-img {
      height: 5.2rem;
      width: 5.2rem;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        img {
          border-radius: 1rem;
          background-color: lighten(
            $color: $primary-bg-color-landing-compliment,
            $amount: 10
          );
        }
      }

      & > img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        transition: all 0.2s linear;
      }

      span {
        position: absolute;
        right: -1px;
        bottom: -5px;
        border-radius: 50%;
        background-color: $primary-bg-color;
        height: 2rem;
        width: 2rem;
        @include flexCenter;
        .icon {
          height: 1rem;
          width: 1rem;
        }
      }
    }

    .tab {
      position: absolute;
      top: 1rem;
      left: -32rem;
      height: auto;
      width: 30rem;
      z-index: 2;
      background-color: $primary-bg-color-landing-compliment;
      border-radius: 2rem;
      padding: 2rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: solid 1px #a7a7a7;

      // profile tab
    }
    .profile-tab {
      .user {
        border-radius: 1rem;
        text-transform: capitalize;
        background-color: darken(
          $color: $primary-bg-color-landing-compliment,
          $amount: 5
        );
        transition: all 0.2s linear;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          background-color: lighten(
            $color: $primary-bg-color-landing-compliment,
            $amount: 5
          );
        }
        img {
          height: 7rem;
          width: 7rem;
          object-fit: cover;
          transition: all 0.2s linear;
          border-radius: 50%;
        }
        .text {
          p {
            word-break: keep-all;
          }
        }
      }
      & > *:not(.user) {
        padding: 1rem;
        background-color: darken(
          $color: $primary-bg-color-landing-compliment,
          $amount: 5
        );
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          background-color: lighten(
            $color: $primary-bg-color-landing-compliment,
            $amount: 5
          );
        }
        .icon-holder {
          @include flexCenter;
          gap: 1rem;
        }
        .icon:not(.icon-holder .icon) {
          font-size: 1.5rem;
        }
      }
    }
    .notification-tab {
      display: grid;
      width: 36rem;
      left: -39rem;
      .display {
        display: grid;
        gap: 1rem;
        .notification {
          height: 5rem;
          cursor: pointer;
          display: grid;
          grid-template-columns: 5rem auto;
          gap: 1rem;
          .notif-icon {
            height: 100%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
              border-radius: 50%;
              border: solid 1px #fff;
            }
          }
          & > * {
            border: solid 1px #fff;
          }
        }
      }
    }
    .chat-tab {
      display: grid;
      width: 32rem;
      left: -35rem;
      min-height: 20rem;
      .display {
        display: grid;
        justify-content: center;
        justify-items: center;
        text-align: center;
        gap: 1rem;
        button {
          border-radius: 1rem;
          padding: 1rem;
          border: solid 2px transparent;
          background-color: #0f615d;
          color: #fff;
          transition: all 0.3s linear;
          font-weight: 600;

          &:hover {
            background-color: #fff;
            color: #0f615d;
            border: solid 2px #0f615d;
          }
        }
      }
    }
  }
  .bottom {
    @include flexColumn;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1030px) {
  .sidebar-right {
    display: none;
  }
}
