/** @format */

@import "../../variables";
@import "../../utils";

.left-sidebar {
  display: grid;
  position: fixed;
  width: 11rem;
  top: 0%;
  left: 0%;
  height: 100%;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: 100%;
  gap: 5px;
  background-color: $primary-bg-color-landing;
  transition: all 0.2s ease-in-out;
  z-index: 5;
  .icons {
    color: #fff;
  }
  & > * {
    border-top: solid 1px $ascent-color;
    border-bottom: solid 1px $ascent-color;
    margin: 0 1rem;
  }
  //top
  .img-con {
    @include flexColumn;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    position: relative;

    img {
      height: 4rem;
      transform: rotate(90deg);
      transition: all 0.2s ease-in;
      user-select: none;
    }

    .collapse-icon {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translate(0%, -50%);
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      @include flexCenter;
      transition: all 0.2s linear;
      background-color: $primary-bg-color;
      z-index: 1;
    }
  }
  & > button {
    display: none;
  }
  //middle
  .links-con {
    padding: 1rem;
    @include flexColumn;
    align-items: center;
    gap: 1rem;
    .sub-container {
      display: none;
    }

    .icon-con {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      @include flexCenter;
      transition: all 0.2s linear;
      background-color: lighten(
        $color: $primary-bg-color-landing-compliment,

        $amount: 10
      );
      // &:hover {
      //   background-color: $primary-bg-color;
      //   border-radius: 1rem;
      // }

      a {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        transition: all 0.2s linear;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1.5rem;
        color: #fff;
        cursor: pointer;
        @include flexCenter;

        .icons {
          font-size: 2.5rem;
        }
        &:focus {
          background-color: $primary-bg-color;
        }

        &:hover {
          background-color: $primary-bg-color;
          border-radius: 1rem;
        }
      }
    }
  }
  //bottom
  .box {
    @include flexColumn;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 2rem;
    margin: 2rem;
    p {
      color: #fff;
    }
    img {
      height: 1px;
    }
  }
  .profile-img {
    display: none;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;

    margin: auto;
    border: none;
    &:hover {
      img {
        border-radius: 1rem;
        // background-color: lighten(
        //   $color: $primary-bg-color-landing-compliment,
        //   $amount: 10
        // );
      }
    }

    & > img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.2s linear;
    }

    span {
      position: absolute;
      right: -1px;
      bottom: -5px;
      border-radius: 50%;
      background-color: $primary-bg-color;
      height: 2rem;
      width: 2rem;
      @include flexCenter;
      .icons {
        height: 1rem;
        width: 1rem;
      }
    }
  }
  .profile-tab {
    display: none !important;
    position: absolute;
    left: 12rem;
    bottom: 1%;
    height: auto;
    width: 30rem;
    z-index: 2;
    background-color: $primary-bg-color-landing-compliment;
    border-radius: 2rem;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px #a7a7a7;
    .user {
      border-radius: 1rem;
      text-transform: capitalize;
      background-color: darken(
        $color: $primary-bg-color-landing-compliment,
        $amount: 5
      );
      transition: all 0.2s linear;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      // grid-template-columns: 7rem auto;
      cursor: pointer;
      // display: grid;
      &:hover {
        background-color: lighten(
          $color: $primary-bg-color-landing-compliment,
          $amount: 5
        );
      }
      img {
        height: 7rem;
        width: 7rem;
        object-fit: cover;
        transition: all 0.2s linear;
        border-radius: 50%;
      }
    }
    & > *:not(.user) {
      padding: 1rem;
      background-color: darken(
        $color: $primary-bg-color-landing-compliment,
        $amount: 5
      );
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.2s linear;
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        background-color: lighten(
          $color: $primary-bg-color-landing-compliment,
          $amount: 5
        );
      }
      .icon-holder {
        @include flexCenter;
        gap: 1rem;
      }
      .icon:not(.icon-holder .icon) {
        font-size: 1.5rem;
      }
    }
  }
  .open {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    gap: 1rem;
    padding: 1rem;
    img {
      height: 5.2rem;
      width: 5.2rem;
    }
    .text > p:last-child {
      text-transform: capitalize;
    }
  }
}

.active-sidebar {
  width: 26rem;
  .img-con {
    img {
      height: 5rem;
      transform: rotate(0deg);
    }
  }

  .links-con {
    .icon-con {
      border-radius: 0.5rem;
      background: transparent;
      width: 100%;

      a {
        font-size: 1.8rem;
        gap: 1rem;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        border-radius: 1rem;

        &:focus {
          background-color: $primary-bg-color;
        }
      }
    }
  }
  .box {
    p {
      visibility: hidden;
    }
    img {
      height: 15rem;
    }
  }
}

// tablet
@media screen and (max-width: 1030px) {
  .left-sidebar {
    grid-template-rows: 15rem 1fr 10rem;
    .profile-img {
      display: flex;
    }
    .profile-tab {
      display: flex !important;
    }
  }
}

// mobile
@media screen and (max-width: 600px) {
  .left-sidebar {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      border: none;
    }

    .profile-img {
      display: none;
    }
    .profile-tab {
      display: none !important;
    }
    .img-con {
      img {
        transform: rotate(0deg);
        height: 3rem;
      }
      .collapse-icon {
        display: none;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;
      .icons {
        font-size: 2.5rem;
      }
      img {
        height: 2rem;
        width: 2rem;
      }
    }
    .links-con {
      position: absolute;
      margin: 0;
      top: 100%;
      left: 0%;
      width: 0%;
      height: 88.5vh;
      // height: 90rem;
      transition: all 0.2s ease-in-out;
      overflow: auto;
      padding: 0;
      display: flex;

      button {
        margin-right: auto;
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        .icons {
          font-size: 3rem;
        }
      }
      .sub-container {
        display: grid;
        grid-template-rows: auto 1fr 4rem;
        gap: 1rem;
        padding: 1rem 1rem 2rem 1rem;
        width: 100%;
        height: 100%;

        .link-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          .icon-con {
            display: flex;
            border-radius: 0%;
            background-color: transparent;
            height: auto;
            width: 100%;
            &:hover {
              background-color: $primary-bg-color;
            }
            a {
              padding: 1rem;
              height: auto;
              width: 100%;
              display: flex;
              gap: 1rem;
              align-items: center;
              justify-content: flex-start;
              .icons {
                @include flexCenter;
                font-size: 2rem;
              }
            }
          }
        }

        .user {
          display: grid;
          grid-template-columns: 7rem auto;
          gap: 1rem;
          padding: 1rem;
          color: #fff;
          background-color: $secondary-bg-color;
          border-radius: 1rem;
          & > * {
            display: flex;
            align-items: center;
          }
          img {
            border-radius: 50%;
            height: 7rem;
            width: 7rem;
            grid-row: 1/3;
            grid-column: 1/2;
            margin: auto;
          }
          & > p:nth-child(2) {
            grid-row: 2/3;
            grid-column: 2/3;
            word-break: break-all;
          }
        }

        .logout {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          color: #fff;
          padding: 1rem;
          span {
            @include flexCenter;
            font-size: 2rem;
          }
          &:hover {
            background-color: lighten(
              $color: $primary-bg-color-landing-compliment,
              $amount: 5
            );
          }
        }
      }
    }
    .active {
      display: flex;
      background-color: $primary-bg-color-landing-compliment;
      width: 100vw;
    }
  }
}
