@import "../../utils";
@import "../../variables";

.requirments-container {
  display: grid;
  // grid-template-columns: repeat(3, minmax(20rem, 30rem));
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 8rem;
  gap: 1rem;
  justify-content: center;
  height: 100%;

  div {
    @include flexCenter;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    h5 {
      color: #000;
      padding: 0.2rem;
    }
    &:hover {
      background-color: rgba(87, 87, 87, 0.473);
      border-radius: 1rem;
      h5 {
        color: #fff;
      }
    }
  }
}
