@import "../../utils";
@import "../../variables";

.approval-waiting {
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
  h4 {
    padding: 1rem 0;
    text-align: center;
  }
  img {
    margin: -2rem;
    height: 30vh;
    width: 30vw;
  }
}
