@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

// font family
$poppins-font-family: "Poppins", sans-serif;
// colors
$primary-bg-color: #457b9d;
$secondary-bg-color: #1d3557;
$red-primary-color: #e63946;
$light-bg-color: #f1faee;
$primary-font-color: #f1faee;
$ascent-color: #a8dadc;
//  Landing
$primary-bg-color-landing: #212121;
$primary-bg-color-landing-compliment: #323232;
$primary-font-color-landing: #eeeeee;
$primary-compliment-landing: #0d7377;
$primary-feature-bg: #00adb5;
