@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

// font family
$poppins-font-family: "Poppins", sans-serif;
// colors
$primary-bg-color: #457b9d;
$secondary-bg-color: #1d3557;
$light-bg-color: #f1faee;
$red-primary-color: #e63946;
$ascent-color: #a8dadc;
