@import "./reset";
@import "./variables";
@import "./utils";

.container {
  min-height: 100vh;
  position: relative;
  display: grid;
  font-family: $poppins-font-family;
}

@import "./components/login";
@import "./components/signin";
@import "./components/loading";
@import "./pages/landingPage";

@import "./pages/dashboard";
@import "./pages/pending";
@import "./pages/verification/verification";
@import "./pages/profile";
@import "./pages/dailyTimeRecord";
@import "./pages/documents";
@import "./pages/reports";
@import "./pages/settings";

@import "./pages/pageNotFound";
// @import "./screen/mobile";
// @import "./screen/tablet";
// @import "./screen/desktop";

@import "./screen/login";
@import "./screen/pending";
@import "./screen/signup";
@import "./screen/landingPage";
