@import "./reset";
@import "./variables";
@import "./utils";

.container {
  min-height: 100vh;
  position: relative;
  display: grid;
  font-family: $poppins-font-family;
}

@import "./components/login";
@import "./components/signin";

@import "./screen/mobile";
@import "./screen/tablet";
@import "./screen/desktop";
