@import "./reset";
@import "./variables";
@import "./utils";

.container {
  min-height: 100vh;
  position: relative;
  display: grid;
}

@import "./components/login";

@import "./screen/mobile";
@import "./screen/tablet";
@import "./screen/desktop";
