@import "../utils";

//tablet

@media screen and (max-width: 1100px) {
  .landing-page {
    grid-template-rows: minmax(100vh, auto) 15rem;
    gap: 10rem;
    // & > * {
    //   border: solid 1px red;
    // }
    nav {
      padding: 0 2rem;
      .logo {
        display: flex;
        h2 {
          padding: 0 10% 0 0;
        }
        img {
          height: 3rem;
        }
      }
      .link-container {
        .links {
          font-size: 1.6rem;
          gap: 1rem;
          padding: 0;
        }
        .auth-links {
          gap: 1rem;
          & > * {
            width: 10rem;
          }
        }
      }
    }
    .contents {
      grid-template-rows: minmax(100vh, auto) repeat(2, 70vh);
      gap: 2rem;

      .landing-contents {
        grid-template-columns: 1.5fr 2fr;

        .text {
          gap: 1rem;
          p,
          h3 {
            font-size: 2rem;
            text-align: center;
          }
          .darkbg {
            background-color: #323232af;
            height: 70vh;
            transform: rotate(50deg);
          }
          .darkbg2 {
            background-color: #32323267;
            height: 70vh;
            transform: rotate(50deg);
          }
        }
        .img-container {
          z-index: 3;
          .landingImg {
            width: 90%;
            height: 75%;
          }
          .landingBg {
            top: 0;
          }
        }
      }
      .feature-contents {
        .feature-Content-Img {
          gap: 5rem;

          img {
            height: 40%;
            width: 90%;
          }
        }
      }
      .mockup-contents {
        .card {
          grid-template-columns: 30rem auto;

          .text-container {
            p {
              &:nth-of-type(1) {
                font-size: 2rem;
              }
              &:nth-of-type(2) {
                grid-column: 1/4;
                padding: 0;
              }
              &:nth-of-type(3) {
                grid-column: 3/5;
                padding: 0;
              }
            }
            .img-con {
              img {
                height: 25rem;
                width: 25rem;
              }
            }
          }
          .mobile-img {
            @include flexCenter;
            img {
              height: 80%;
            }
          }
        }
      }
    }

    footer {
      .footer-content {
        .icon {
          h2 {
            font-size: 2.5rem;
          }
          img {
            height: 2rem;
          }
        }
      }
      .socials-img {
        .social {
          img {
            height: 2.5rem;
          }
        }
      }
    }
  }
}

.main-carousel {
  border: 1px solid #ffff;
  height: 636px;
  width: 100%;
  padding: 3rem;
  background-color: #323232;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(40%, 50rem) minmax(60%, 70rem);

  .text-container-left {
    border: 1px solid #ffff;
    width: 100%;
    height: 100%;
    & {
      p {
        color: #ffff;
      }
      p:nth-of-type(1) {
        font-size: 68px;
      }
      p:nth-of-type(2) {
        font-size: 36px;
      }
      p:nth-of-type(3) {
        opacity: 0.5;
      }
    }
  }

  .slides {
    width: 100%;
    height: 100%;
    border: 1px solid #ffff;
    // border-radius: 10px;
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
    background-color: #014805;
    & {
      .content {
        border: 1px solid #ffff;
        width: 550px;
        height: 80%;
        position: absolute;
      }
    }

    & {
      .btn-prev,
      .btn-next {
        width: 80px;
        height: 100%;
      }
      .btn-prev {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
      }
      .btn-next {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.aboutUs-container {
  border: 1px solid #ffff;
  height: 800px;
  padding: 2em;
  display: grid;
  grid-template-columns: minmax(40%, 50rem) minmax(60%, 100rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-rows: 1.5fr, 1.5fr;
  }
  .getStarted {
    background-color: #d9d9d9;
    height: 50%;
    border-radius: 20px;
    border: 1px solid #ffff;
    color: #323232;
    display: flex;
    display: grid;

    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .landing-page {
    .contents {
      .mockup-contents {
        .card {
          .text-container {
            p {
              &:nth-of-type(2) {
                grid-column: 1/4;
                padding: 0;
              }
              &:nth-of-type(3) {
                grid-column: 4/5;
                padding: 0;
              }
            }
            .img-con {
              img {
                height: 22rem;
                width: 22rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .landing-page {
    .contents {
      grid-template-rows: minmax(90vh, auto) repeat(2, 80vh);

      .landing-contents {
        .text {
          padding: 2rem;
          p,
          h3 {
            font-size: 1.8rem;
            z-index: 2;
          }
        }
      }
      .img-container {
        .landingImg {
          width: 80%;
          height: 65%;
        }
      }
      .feature-contents {
        .feature-Content-Img {
          @include flexColumn;
          width: 45%;
          .img-features {
            @include flexCenter;
            img {
              width: 55%;
              height: 55%;
            }
          }
        }
      }
      .mockup-contents {
        .card {
          grid-template-columns: 25rem auto;
          width: 90%;
          padding: 1rem;
          &::after {
            top: -2rem;
            left: -2rem;
          }
          .text-container {
            grid-template-rows: 0.3fr 0.5fr 1fr;

            p {
              &:nth-of-type(2) {
                align-items: center;
                grid-column: 1/4;
                padding: 0;
              }
              &:nth-of-type(3) {
                grid-column: 3/5;
                padding: 0;
              }
            }
            .img-con {
              align-items: flex-start;
            }
          }
          .mobile-img {
            @include flexCenter;
            img {
              height: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .landing-page {
    .contents {
      .feature-contents {
        .feature-Content-Img {
          width: 50%;
          .img-features {
            img {
              width: 65%;
              height: 65%;
            }
          }
        }
      }
      .mockup-contents {
        .card {
          .text-container {
            grid-template-rows: 0.3fr 0.8fr 1fr;

            p {
              &:nth-of-type(3) {
                grid-column: 3/5;
                padding: 0;
              }
            }
            .img-con {
              align-items: center;

              img {
                height: 18rem;
                width: 18rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-page {
    .contents {
      .landing-contents {
        grid-template-columns: auto;
        .text {
          p,
          h3 {
            background-color: #00000077;
            padding: 1rem;
            border-radius: 1rem;
          }
          .darkbg,
          .darkbg2 {
            display: none !important;
          }

          .bg3 {
            @include flexCenter;
            position: absolute;
            z-index: -1;
            .landingImg {
              padding-top: 15%;
              opacity: 0.6;
              width: 100%;
              height: 100%;
            }
            .landingBg {
              z-index: -1;
              top: -10%;
              left: 0%;
              position: absolute;
              height: 120%;
              width: 100%;
            }
          }
        }
      }
      .img-container {
        display: none !important;
      }
      // .mockup-contents {
      //   .card {
      //     grid-template-columns: auto;
      //     grid-template-rows: 1fr 1fr;

      //   }
      // }
    }
  }
}

//hamburger menu
@media screen and (max-width: 850px) {
  .landing-page {
    nav {
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      .link-container {
        height: 0;
        overflow: hidden;
        @include flexColumn;
        border-top: solid #636363 1px;
        position: absolute;
        left: 0%;
        top: 100%;
        width: 100%;
        transition: all 0.2s ease-in-out;
        .links,
        .auth-links {
          @include flexColumn;
        }
      }
      .active-drop {
        height: 30rem;
        padding: 2rem;
      }
      .active {
        transform: rotate(90deg);
      }
      .menu-icon {
        grid-column: 2/3;
        grid-row: 1/2;
        transition: all 0.2s ease-in-out;
        @include flexCenter;
        font-size: 3rem;
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
