@import "../components/login";

//Login component
@media screen and (max-width: 480px) {
  .login {
    grid-template-columns: 1fr 50px !important;
    grid-template-rows: 1fr !important;
    .bg-container {
      grid-column: 2/3 !important;
      grid-row: 1/2 !important;
    }
    .card-container {
      grid-column: 1/2 !important;
      header {
        align-items: flex-start !important;
        h1 {
          font-size: 3.5rem !important;
        }
        img {
          height: 4rem !important;
        }
      }
      form {
        span {
          justify-content: flex-start !important;
          margin: 0 !important;
        }
        button {
          margin: 0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 357px) {
  .login {
    grid-template-columns: 1fr !important;
    .card-container {
      padding: 2rem !important;
      form {
        gap: 2.5rem !important;
        span {
          grid-template-columns: auto !important;
          margin: 0 !important;
        }
      }
    }
  }
}

//Sign-In component
@media screen and (max-width: 480px) {
  .signin {
    grid-template-columns: 50px 1fr !important;
    grid-template-rows: 1fr !important;
    .bg-container {
      grid-column: 1/2 !important;
      grid-row: 1/2 !important;
    }
    .card-container {
      grid-column: 2/3 !important;
      header {
        align-items: flex-start !important;
        h1 {
          font-size: 3rem !important;
        }
        img {
          height: 4rem !important;
        }
      }
      form {
        align-items: flex-start !important;
        span {
          align-items: flex-start !important;
          margin: 0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 357px) {
  .signin {
    grid-template-columns: 1fr !important;
    .card-container {
      padding: 2rem !important;
      form {
        gap: 2.5rem !important;
        span {
          align-items: flex-start !important;
          flex-direction: column;
          margin: 0 !important;
        }
      }
    }
  }
}

//landing component
@media screen and (max-width: 480px) {
  nav {
    .logo {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  .contents {
    .landing-contents {
      display: flex !important;
      flex-direction: column !important;
      .text {
        font-size: 2rem;
        text-align: center;
      }
      .img-container {
        display: none !important;
      }
    }
    .feature-contents {
      // display: none !important;
      .feature-Content-Img {
        flex-direction: column !important;
        width: 50% !important;
        gap: 3rem !important;

        img {
          height: 50% !important;
        }
      }
    }
    .mockup-contents {
      display: none !important;
    }
    footer {
      display: none !important;
    }
  }
}
