@import "../components/login";

@media screen and (max-width: 480px) {
  .auth-container {
    width: 100% !important;
    .card-container {
      width: 90% !important;
      .left-card {
        padding: 2rem !important;
        form {
          .options {
            flex-direction: column;
            gap: 1.5rem;
          }
        }
      }
    }
  }
}
