@import "../utils";
@import "../variables";

@media screen and (max-width: 1200px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.9rem;
      }
    }
    .pending-content {
      img {
        height: 35rem;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.7rem;
      }
    }
    .pending-content {
      padding: 3rem 8rem;

      h3 {
        font-size: 2.2rem;
      }
      img {
        height: 32rem;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.5rem;
      }
    }
    .pending-content {
      padding: 3rem 6rem;
      img {
        height: 30rem;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .pending {
    .pending-content {
      img {
        height: 28rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .pending {
    .pending-content {
      img {
        height: 25rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.3rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 2rem;
      }
      img {
        height: 22rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pending {
    .greetings {
      .name {
        font-size: 3rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 1.8rem;
      }
      img {
        height: 18rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
