@import "../components/login";

// login component
@media screen and (max-width: 800px) {
  .login {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    .bg-container {
      grid-row: 1/2;
    }
  }
}

@media screen and (max-width: 700px) {
  .auth-container {
    .card-container {
      display: flex;
      width: 65%;
      height: 90%;
      .left-card {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        form {
          label:not(.options label) {
            input {
              &:focus {
                padding: 0.5rem 0.5rem 0.5rem 6rem;
              }
            }
          }
        }
      }
      .right-card {
        display: none;
      }
    }
  }
}
