@import "../components/login";
@import "../utils";

// login component
@media screen and (max-width: 800px) {
  .login {
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr;
    .bg-container {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .card-container {
      margin-top: 5%;
      grid-column: 1/2;
      gap: 2rem;
      header {
        @include flexCenter;
        gap: 0.7rem;
        flex-direction: column;
        h1 {
          font-size: 4rem;
        }
        img {
          height: 5rem;
        }
      }

      form {
        width: 100%;
        .input-contain {
          width: 100%;
          .text {
            padding: 0;
          }
          input {
            height: 50px;
            width: 100%;
          }
        }
        span {
          display: grid;
          grid-template-columns: auto auto;
          margin: 0 auto;
        }
        button {
          margin: 0 auto;
        }
      }
    }
  }
}

//sign-in component
@media screen and (max-width: 800px) {
  .signin {
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;

    .bg-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .card-container {
      grid-column: 2/3;
      gap: 2rem;

      header {
        @include flexCenter;
        gap: 0.7rem;
        flex-direction: column;

        h1 {
          font-size: 3rem;
        }
        img {
          height: 4.5rem;
        }
      }

      form {
        width: 100%;
        align-items: center;
        .input-contain {
          width: 100%;
          .text {
            padding: 0;
          }
          input {
            height: 50px;
            width: 100%;
          }
        }
      }
    }
  }
}

//lannding page
@media screen and (max-width: 1100px) {
  .landing-page {
    & > * {
      border: solid 1px red;
    }
    nav {
      padding: 0 2rem;
      .logo {
        display: flex;
        // flex-direction: column;
        // gap: 0;
        h1 {
          font-size: 2.5rem;
        }
        img {
          height: 3rem;
        }
      }
      .link-container {
        .links {
          font-size: 1.6rem;
          gap: 1rem;
        }
        .auth-links {
          // padding: 0 5rem 0 0;
          gap: 1rem;
          & > * {
            width: 10rem;
          }
        }
      }
    }
    .content {
      .landing-contents {
        @include flexCenter;
        .text {
        }
        .img-container {
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .landing-page {
    nav {
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      .link-container {
        height: 0;
        overflow: hidden;
        @include flexColumn;
        border-top: solid #636363 1px;
        position: absolute;
        left: 0%;
        top: 100%;
        width: 100%;
        transition: all 0.2s ease-in-out;
        .links,
        .auth-links {
          @include flexColumn;
        }
      }
      .active-drop {
        height: 30rem;
        padding: 2rem;
      }
      .active {
        transform: rotate(90deg);
      }
      .menu-icon {
        grid-column: 2/3;
        grid-row: 1/2;
        transition: all 0.2s ease-in-out;
        @include flexCenter;
        font-size: 3rem;
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
