/** @format */

@import "../variables";
@import "../utils";

.daily-time-record {
  height: 100%;
  width: 100%;
  display: grid;
  // grid-template-rows: 12rem 7rem minmax(30vh, 65vh);
  grid-template-rows: minmax(16rem, auto) auto minmax(40rem, 63vh);
  padding: 1rem;
  gap: 1rem;

  button {
    height: 5rem;
    width: 12rem;
    background-color: $primary-compliment-landing;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.3s linear;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .icon {
      font-size: 1.2rem;
    }
    p {
      padding-top: 0.2rem;
    }
    &:hover {
      border-radius: 1rem;
      border: solid 1px $primary-compliment-landing;
      background-color: #fff;
      color: $primary-compliment-landing;
    }
  }

  .overlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    filter: blur(20px);
    top: 0%;
    left: 0%;
    z-index: 6;
  }

  .time-in,
  .time-out {
    display: grid;
    grid-template-rows: auto 1fr 5rem;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
    & > * {
      border: solid 1px #3a2d2d;
    }
    .address {
      padding: 1rem;
      background-color: #fff;
      h3 {
        color: #333333;
      }
    }
    .camera {
      @include flexCenter;
      flex-direction: column;
      gap: 1rem;
      background-color: #fff;
      padding: 1rem;

      img {
        height: 40rem;
        width: 40rem;
      }
      video {
        height: 40rem;
        width: 40rem;
      }
    }

    button {
      margin: 0 auto;
    }
  }
  .attendance-view {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 2rem;
    gap: 1rem;
    .upper {
      display: grid;
      gap: 1rem;
      grid-template-rows: auto 1fr;
      & > * {
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
      }
      .attendance-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 0.5rem;
        & > * {
          padding: 0.5rem 1rem;
        }
        :nth-child(1) {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        & > *:nth-child(7) {
          grid-column: 1/3;
        }
        & > *:nth-child(6) {
          grid-column: 1/3;
        }
      }
      .img-con {
        @include flexCenter;
        gap: 1rem;
        & > * {
          @include flexColumn;
          text-align: center;
          gap: 0.5rem;
        }
        img {
          width: 30rem;
          height: 30rem;
        }
      }
    }
    .lower {
      margin: auto;
    }
  }
  .modal {
    overflow-y: auto;
    background-color: #d9d9d9;
    border-radius: 1rem;
    height: 85%;
    // height: 75rem;
    width: 72rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
  }

  .no-camera {
    @include flexCenter;

    .top {
      @include flexColumn;
      b {
        color: $red-primary-color;
      }
      img {
        padding: 0 0 0 2rem;
      }
    }
    .bottom {
      display: none;
    }
  }
  .attendance-absent {
    @include flexCenter;
    .absent-top {
      display: flex;
      flex-direction: column;
      text-align: center;
      // span {
      //   font-size: 10rem;
      // }
      h1 {
        color: $red-primary-color;
        margin-top: -4rem;
        padding: 0 0 0 1rem;
      }
    }
    .btn-close {
      display: none;
    }
  }
  .user {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 12rem auto;
    grid-template-rows: auto;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    align-items: center;
    background-color: #282b30;

    .text {
      display: grid;
      grid-template-columns: repeat(2, auto);
      height: 100%;
      // gap: 1rem;
      align-items: center;
      background-color: #40454d;
      border-radius: 2rem;
      // padding: 2rem;
      padding: 1rem 1rem 1rem 2rem;
      overflow-y: auto;
      font-size: 1.5rem;

      & > *:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      p,
      h4 {
        color: $primary-font-color;
        font-size: 1.8rem;
      }

      .attendance {
        @include flexCenter;
        color: #d9d9d9;
        cursor: pointer;
        background-color: $primary-compliment-landing;
        border-radius: 0;
        transition: all 0.2s linear;
        position: relative;
        font-size: 1.6rem;
        font-weight: 6000;

        &:hover {
          background-color: $primary-feature-bg;
          border-radius: 1rem;
          color: #fff;
        }
      }
    }

    .profile-img {
      @include flexCenter;
      height: 100%;
      width: 100%;
      grid-column: 1/2;
      img {
        height: 12rem;
        width: 12rem;
        background-color: #fff;
        border: solid 1px #fff;
        border-radius: 1rem;
      }
    }
  }
  .mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #282b30;
    padding: 1rem;
    border-radius: 1rem;
    .button-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-left: 3rem;
      button {
        @include flexCenter;
        padding: 1.6rem 3rem;
        height: 4rem;
        border-radius: 1rem;
        border: solid 1px transparent;
        color: $primary-font-color;
        background-color: $primary-compliment-landing;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          border-radius: 0;
          background-color: $primary-font-color;
          color: $primary-compliment-landing;
          border: solid 1px $primary-compliment-landing;
        }
        &.time-out:hover {
          background-color: $red-primary-color;
          color: #fff;
          border-radius: 0;
          border: solid 1px $red-primary-color;
        }
      }
    }
    .search-box {
      @include flexCenter;
      background-color: $light-bg-color;
      width: 80%;
      border-radius: 2rem;
      align-items: center;
      padding: 0 1.5rem;
      margin: auto;
      span {
        @include flexCenter;
        font-size: 2rem;
        cursor: pointer;
      }
      input {
        width: 100%;
        background: transparent;
        padding: 1rem;
        outline: none;
        border: 0;
      }
    }
  }
  .DTR-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    grid-auto-rows: 6rem;
    gap: 1rem;
    padding: 2rem;
    background-color: #282b30;
    border-radius: 2rem;
    // max-height: 67rem;
    overflow-y: auto;

    .attendance {
      @include flexCenter;
      color: #d9d9d9;
      cursor: pointer;
      background-color: $primary-compliment-landing;
      border-radius: 0;
      transition: all 0.2s linear;
      position: relative;
      font-size: 1.6rem;
      font-weight: 600;

      &:hover {
        background-color: $primary-feature-bg;
        border-radius: 1rem;
        color: #fff;
      }
    }
  }
  .no-internship {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #282b30;
    border-radius: 1rem;
    color: #fff;
    gap: 1rem;
    padding: 2rem;
    b {
      color: $primary-compliment-landing;
    }
    img {
      height: 35rem;
      width: 35rem;
    }
  }
}

//responsive

// height
// @media screen and (max-height: 1000px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 73vh;
//   }
// }
// @media screen and (max-height: 850px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 70vh;
//     .modal {
//       height: 65rem;
//     }
//   }
// }
// @media screen and (max-height: 760px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 67vh;
//   }
// }

// @media screen and (max-height: 700px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 63vh;
//     .modal {
//       height: 50rem;
//     }
//   }
// }

// @media screen and (max-height: 500px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 63vh;
//     .modal {
//       height: 35rem;
//     }
//   }
// }

// // width
// @media screen and (max-width: 780px) {
//   .daily-time-record {
//     .modal {
//       height: 70rem;
//       width: 60rem;
//     }
//     .attendance-view {
//       .upper {
//         .img-con {
//           flex-direction: column;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 700px) {
//   .daily-time-record {
//     .modal {
//       width: 50rem;
//     }
//     .attendance-view {
//       .upper {
//         .attendance-info {
//           display: flex;
//           flex-direction: column;
//         }
//       }
//     }
//   }
// }
// @media screen and (max-width: 600px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 65vh;
//   }
// }

// @media screen and (max-width: 500px) {
//   .daily-time-record {
//     .modal {
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

// @media screen and (max-height: 600px) {
//   .daily-time-record {
//     grid-template-rows: 12rem 7rem 50vh;
//     .modal {
//       height: 50rem;
//     }
//   }
// }

/////////////////////////////////////////////////////////////////

@media screen and (max-width: 1030px) {
  .daily-time-record {
    grid-template-rows: minmax(16rem, auto) auto minmax(30rem, 61vh);
    .no-internship {
      img {
        height: 30rem;
        width: 30rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .daily-time-record {
    grid-template-rows: minmax(16rem, auto) auto minmax(30rem, 58vh);
    .modal {
      width: 58rem;
    }
    .time-in,
    .time-out {
      .address {
        h2 {
          font-size: 1.9rem;
        }
        h3 {
          font-size: 1.8rem;
        }
      }
      .camera {
        img,
        video {
          height: 35rem;
          width: 35rem;
        }
      }
    }
    .attendance-view {
      .upper {
        .attendance-info {
          display: flex;
          flex-direction: column;
          p {
            font-size: 1.7rem;
            padding: 0 1rem;
          }
        }
        .img-con {
          font-size: 1.7rem;
          flex-direction: column;
          img {
            height: 30rem;
            width: 30rem;
          }
        }
      }
    }
    .user {
      grid-template-columns: 10rem auto;
      .text {
        // grid-template-columns: auto;
        padding: 1rem;
        p,
        h4 {
          font-size: 1.7rem;
        }
        & > *:nth-child(5) {
          grid-column: 1/3;
        }
      }
      .profile-img {
        img {
          height: 10rem;
          width: 10rem;
        }
      }
    }
    .mid {
      .button-container {
        button {
          height: 3.5rem;
        }
      }
    }
    .DTR-content {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(4rem, 6vh);
    }
    .no-internship {
      img {
        height: 25rem;
        width: 25rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .daily-time-record {
    .user {
      .text {
        grid-template-columns: auto;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .daily-time-record {
    grid-template-rows: minmax(14rem, auto) auto minmax(30rem, 45vh);
    .modal {
      // height: 63rem;
      width: 99%;
    }
    .time-in,
    .time-out {
      .camera {
        img,
        video {
          height: 30rem;
          width: 30rem;
        }
      }
    }
    .attendance-view {
      .upper {
        .img-con {
          img {
            height: 28rem;
            width: 28rem;
          }
        }
      }
    }
    .user {
      .text {
        gap: 0.5rem;
        p,
        h4 {
          font-size: 1.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .daily-time-record {
    // grid-template-rows: minmax(15rem, auto) auto minmax(20rem, 36vh);
    gap: 0.5rem;
    .modal {
      height: 100%;
      width: 100%;
    }
    button {
      height: 4rem;
    }
    // .modal {
    //   height: 57rem;
    // }
    .time-in,
    .time-out {
      .address {
        h2 {
          font-size: 1.8rem;
        }
        h3 {
          font-size: 1.7rem;
        }
      }
      .camera {
        img,
        video {
          height: 25rem;
          width: 25rem;
        }
      }
    }
    .attendance-view {
      .upper {
        .attendance-info {
          p {
            font-size: 1.6rem;
          }
        }
        .img-con {
          font-size: 1.6rem;
          img {
            height: 23rem;
            width: 23rem;
          }
        }
      }
    }
    .user {
      // grid-template-columns: auto;
      // grid-template-rows: auto auto;
      // gap: 0.5rem;
      // padding: 1rem;

      .profile-img {
        img {
          height: 9rem;
          width: 9rem;
        }
      }
      .text {
        gap: 0.5rem;
        h4 {
          font-size: 1.8rem;
        }
        // & > * {
        //   text-align: center;
        // }
        p {
          font-size: 1.6rem;
        }
      }
    }
    .mid {
      @include flexColumn;
      gap: 0.5rem;
      .button-container {
        justify-content: center;
        padding: 0;
        button {
          height: 3rem;
        }
      }
    }
    .no-camera {
      display: grid;
      grid-template-rows: 1fr 0.5fr;
      gap: 1rem;
      padding: 1rem;
      & > * {
        @include flexCenter;
      }
      .top {
        img {
          padding: 0 0 0 3rem;
        }
      }
      .bottom {
        display: flex;
      }
    }
    .attendance-absent {
      flex-direction: column;
      gap: 2rem;
      .btn-close {
        display: flex;
        button {
          color: #000;
          border: solid 1px #000;
          background-color: #fff;
          &:hover {
            background-color: #d9d9d9;
            border: solid 1px #d9d9d9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .daily-time-record {
    .user {
      padding: 1rem;
      grid-template-columns: auto;
      .profile-img {
        display: none;
      }
    }
    .no-internship {
      img {
        height: 20rem;
        width: 20rem;
      }
    }
    .time-in,
    .time-out {
      .address {
        h2 {
          font-size: 1.7rem;
        }
        h3 {
          font-size: 1.6rem;
        }
      }
      .camera {
        img,
        video {
          height: 20rem;
          width: 20rem;
        }
      }
    }
    .attendance-view {
      .upper {
        .attendance-info {
          p {
            font-size: 1.5rem;
          }
        }
        .img-con {
          font-size: 1.5rem;
          img {
            height: 18rem;
            width: 18rem;
          }
        }
      }
    }
  }
}
