.daily-time-record {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 18vh auto;
  gap: 1rem;
  & > * {
    border: solid 1px rgb(238, 195, 195);
  }
  .content {
    display: grid;
    grid-template-rows: 15vh 5rem auto;
    gap: 1rem;
    & > * {
      border: solid 1px rgb(255, 255, 255);
    }
  }
}
