@import "../variables";
@import "../utils";

.dashboard {
  display: grid;
  grid-template-columns: 28rem 1fr 28rem;
  gap: 1rem;
  & > * {
    border: solid 1px #000;
  }
  .left-sidebar {
    @include flexColumn;
  }
}
