@import "../variables";
@import "../utils";

.dashboard {
  height: 100%;
  gap: 1rem;
  position: relative;
  // padding: 2rem 26rem;
  background-color: #393e46;
  & > * {
    border: solid 2px #000;
  }
  .main {
    height: 100%;
    // width: calc(100% - 480px);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 15vh auto;
    gap: 1.8rem;
    padding: 1rem;
    .content {
      border: solid 2px #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 1.5rem;
      & > * {
        border: solid 2px #fff;
        border-radius: 0.5rem;
      }
      .time-keeper {
        grid-column: 1/3;
      }
      .documents {
        grid-row: 2/4;
      }
    }
  }
  @import "../components/dashboard/sidebarLeft";
  @import "../components/dashboard/sidebarRight";
}
