/** @format */

@import "../variables";
@import "../utils";

.dashboard {
  display: grid;
  height: 100%;
  gap: 1rem;
  position: relative;
  padding: 1rem 9rem 1rem 13rem;
  background-color: #393e46;
  transition: all 0.2s ease-in-out;

  .main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 10rem minmax(450px, auto);
    gap: 1rem;
    padding: 1rem;
    header {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 0 1rem;
      gap: 1rem;

      .name-container {
        display: flex;
        flex-direction: column;
        color: $primary-font-color;

        .name {
          font-size: 4rem;
        }
        h4 {
          font-size: 2rem;
        }
      }
      .search-box {
        @include flexCenter;
        background-color: $light-bg-color;
        width: 80%;
        border-radius: 2rem;
        padding: 0 1.5rem;
        margin: auto;

        span {
          @include flexCenter;
          font-size: 2rem;
          cursor: pointer;
        }
        input {
          width: 100%;
          background: transparent;
          padding: 1rem;
          outline: none;
          border: 0;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1.2rem;
      & > * {
        border: solid 1.5px #fff;
        // border-radius: 2rem;
        padding: 1rem;
        @include flexColumn;
      }

      button {
        @include flexCenter;
        height: 4rem;
        background-color: $primary-compliment-landing;
        border: none;
        border-radius: 1rem;
        outline: none;
        cursor: pointer;
        padding: 1rem 2rem;
        transition: all 0.2s linear;
        font-weight: 600;
        font-size: 1.5rem;
        color: #d9d9d9;
        &:hover {
          background-color: $primary-feature-bg;
          border-radius: 0;
          color: #fff;
        }
      }

      .time-keeper {
        position: relative;
        grid-column: 1/3;
        z-index: 1;
        gap: 0px;
        border-radius: 2rem 2rem 0 0;
        h4 {
          color: $primary-font-color;
          text-align: center;
        }
        .time-keeper-contents {
          display: grid;
          grid-template-columns: 40rem 1fr;
          // align-items: center;
          gap: 1rem;
          height: 100%;
          border-radius: 2rem;
          padding: 1rem;

          .btn-controller {
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            border-radius: 1rem;
            background-color: $light-bg-color;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
          }
        }
      }
      .documents {
        // @include flexColumn;
        // padding: 1rem;
        position: relative;
        grid-row: 2/4;
        z-index: 1;
        border-radius: 0 0 0 2rem;
        & > h4 {
          color: $primary-font-color;
          text-align: center;
        }
        .document-contents {
          background-color: $light-bg-color;
          height: 100%;
          border-radius: 2rem;
          padding: 1rem;
          overflow-y: auto;
          display: grid;
          gap: 1rem;

          .document-dashboard {
            background-color: $primary-compliment-landing;
            color: #fff;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
      .internship-details {
        // padding: 1rem;
        & > h4 {
          color: $primary-font-color;
          text-align: center;
        }
        .internship-contents {
          background-color: #11999e;
          height: 100%;
          color: #fff;
          padding: 1rem;
          border-radius: 1rem;
          & > * {
            padding-bottom: 1rem;
          }
        }
      }
      .map {
        // padding: 1rem;
        background-color: $light-bg-color;
        border-radius: 0 0 2rem 0;
      }
    }
  }

  .cant-start {
    background-color: #212121;
    @include flexCenter;

    button {
      height: 5rem;
      width: 12rem;
      background-color: $primary-compliment-landing;
      color: #fff;
      border: 2px solid transparent;
      outline: none;
      cursor: pointer;
      padding: 1rem 2rem;
      transition: all 0.2s linear;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .icon {
        font-size: 1.2rem;
      }
      p {
        padding-top: 0.2rem;
      }
      &:hover {
        // background-color: $primary-bg-color;
        border-radius: 1rem;
        border: solid 2px $primary-compliment-landing;
        background-color: #fff;
        color: $primary-compliment-landing;
      }
    }
    .cant-start-modal {
      @include flexColumn;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: #fff;
      border-radius: 1rem;
      width: 50rem;
      height: 52rem;
      img {
        height: 30rem;
        width: 30rem;
      }
    }
  }
  @import "../components/dashboard/sidebarLeft";
  @import "../components/dashboard/sidebarRight";

  @import "../pages/coordinator/intern";
  @import "../pages/coordinator/approvals";
  @import "../pages/coordinator/internship";
  @import "../pages/coordinator/dashboard";
  @import "../pages/coordinator/attendance";

  @import "../pages/admin/document";
}

.dashboard-active {
  @extend .dashboard;
  padding: 2rem 9rem 2rem 29rem;
}

// @media screen and(max-width: 1030px) {
//   .dashboard {
//   }
// }

@media screen and (max-width: 700px) {
  .dashboard {
    .cant-start {
      text-align: center;
      font-size: 1.7rem;
      .cant-start-modal {
        width: 95%;
        height: auto;
        padding: 3rem 2rem;
        img {
          height: 25rem;
          width: 25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dashboard {
    padding: 10rem 1rem 1rem 1rem !important;
  }
}

@media screen and (max-width: 750px) {
  .dashboard {
    .main {
      .content {
        @include flexColumn;
        & > * {
          height: 100%;
        }
        .documents {
          border-radius: 0;
        }
        .map {
          border-radius: 0 0 2rem 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .dashboard {
    .cant-start {
      font-size: 1.6rem;
      button {
        height: 4rem;
      }
      .cant-start-modal {
        img {
          height: 22rem;
          width: 22rem;
        }
      }
    }
  }
}
