@import "../variables";
@import "../utils";

.documents-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 25rem auto;
  gap: 2rem;

  .top {
    border-radius: 1.5rem;
    background-color: lighten(
      $color: $primary-bg-color-landing-compliment,
      $amount: 10
    );
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    gap: 1rem;
    .private-comment {
      @include flexColumn;
      color: #fff;
      border: solid 1px #fff;
      .one {
        @include flexCenter;
        flex-direction: row;
        padding: 1rem 0 0;
        cursor: pointer;
        span {
          padding-top: 0.4rem;
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          padding: 0 0.8rem;
        }
      }
      .two {
        cursor: pointer;
        @include flexCenter;
        p {
          color: $primary-feature-bg;
          font-size: 1.5rem;
          width: 22rem;
          text-align: center;
        }
      }
    }
    .drop-file {
      border: solid 1px #fff;
      @include flexCenter;
      .drop-file-container {
        @include flexCenter;
        flex-direction: column;
        border: dashed 2px #fff;
        background-color: rgb(59, 59, 59);
        height: 80%;
        width: 80%;
        .add-icon {
          cursor: pointer;
          span {
            font-size: 4rem;
            color: rgb(187, 187, 187);
          }
        }
        .add-file-text {
          flex-direction: column;
          text-align: center;
          h5 {
            color: #fff;
          }
          p {
            color: grey;
          }
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-rows: 5rem auto;

    .button-container {
      width: 45rem;
      border-radius: 1.5rem 1.5rem 0 0;
      display: grid;
      grid-template-columns: repeat(3, auto);
      background-color: lighten(
        $color: $primary-bg-color-landing-compliment,
        $amount: 10
      );
      border: solid 1px #fff;
      button {
        border: none;
        color: #fff;
        outline: none;
        padding: 1rem;
        background-color: transparent;
        transition: all 0.3s linear;
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;

        &:hover::before {
          width: 80%;
        }
        &:focus {
          background-color: lighten(
            $color: $primary-bg-color-landing-compliment,
            $amount: 30
          );
          &::before {
            width: 80%;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 75%;
          transform: translate(-50%, -75%);
          transition: all 0.2s linear;
          width: 0%;
          height: 2px;
          z-index: 2;
          background-color: #fff;
        }

        &:nth-of-type(1) {
          border-radius: 1.5rem 0 0 0;
        }
        &:nth-last-of-type(1) {
          border-radius: 0 1.5rem 0 0;
        }
      }
    }

    .display {
      color: #fff;
      border: #fff solid 1px;
      padding: 5rem;
      border-radius: 0 1.5rem 1.5rem 1.5rem;
      background-color: lighten(
        $color: $primary-bg-color-landing-compliment,
        $amount: 10
      );
    }
  }
  @import "../pages/documents/completion";
  @import "../pages/documents/requirments";
}
