/** @format */

@import "../utils";
@import "../variables";

.pending {
  height: 100%;
  // margin: 0 auto;
  display: grid;
  grid-template-rows: auto minmax(45rem, 83vh);
  gap: 1rem;
  padding: 1rem;
  .greetings {
    color: $primary-font-color;
    margin: auto 0;
    .name {
      font-size: 3.5rem;
      b {
        color: $primary-feature-bg;
      }
    }
  }
  .pending-content {
    @include flexCenter;
    flex-direction: column;
    text-align: center;
    color: $primary-font-color;
    border: solid 1px #fff;
    background-color: #22283173;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    height: 100%;
    overflow-y: auto;
    h3 {
      font-size: 2.3rem;
    }
    img {
      height: 23rem;
    }
    p {
      font-size: 1.9rem;
    }
    & > button {
      padding: 1.5rem 4.5rem;
      background-color: $primary-compliment-landing;
      color: $primary-font-color;
      transition: all 0.5s ease-in-out;
      border-radius: 1rem;
      border: solid 1px transparent;
      font-weight: 600;

      &:hover {
        color: $primary-compliment-landing;
        border: solid 1px $primary-compliment-landing;
        background-color: $primary-font-color;
      }
    }
  }
  .verify {
    height: 50rem;
  }
}

//min-height
@media screen and (min-height: 700px) {
  .pending {
    grid-template-rows: auto minmax(45rem, 84vh);
    .greetings {
      .name {
        font-size: 3.7rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 2.5rem;
      }
      img {
        height: 28rem;
      }
      p {
        font-size: 2rem;
      }
      & > button {
        padding: 1.5rem 5rem;
      }
    }
  }
}

@media screen and (min-height: 820px) {
  .pending {
    grid-template-rows: auto minmax(45rem, 87vh);
    .greetings {
      .name {
        font-size: 3.8rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 2.6rem;
      }
      img {
        height: 33rem;
      }
    }
  }
}

// max-width

@media screen and (max-width: 900px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.5rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 2.3rem;
      }
      img {
        height: 22rem;
      }
      p {
        font-size: 1.9rem;
      }
      & > button {
        padding: 1.5rem 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .pending {
    .greetings {
      .name {
        font-size: 3.2rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 2rem;
      }
      img {
        height: 20rem;
      }
      p {
        font-size: 1.7rem;
      }
      & > button {
        padding: 1.2rem 4rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pending {
    grid-template-rows: auto minmax(45rem, 75vh);
    .greetings {
      .name {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .pending {
    grid-template-rows: auto minmax(45rem, 75vh);
    .greetings {
      .name {
        font-size: 2.8rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 1.9rem;
      }
      img {
        height: 18rem;
      }
      p {
        font-size: 1.6rem;
      }
      & > button {
        padding: 1rem 3.7rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pending {
    grid-template-rows: auto minmax(45rem, 71vh);
    padding: 0;
    gap: 0.5rem;
    .greetings {
      text-align: center;
      margin: auto;
      .name {
        font-size: 2.6rem;
      }
    }
    .pending-content {
      h3 {
        font-size: 1.8rem;
      }
      img {
        height: 15rem;
      }
      p {
        font-size: 1.6rem;
      }
      & > button {
        padding: 1rem 3.7rem;
      }
    }
  }
}
