@import "../utils";

.pending {
  border: solid 1px #fff;
  height: 100%;
  position: relative;
  @include flexCenter;

  .modal {
    height: 55rem;
    width: 60rem;
    position: relative;
    border-radius: 1rem;
    border: solid 1px #fff;
    background-color: #fff;
    padding: 2rem;
    overflow: hidden;
    transition: all 0.2s linear;

    form {
      .input-contain {
        display: flex;
        position: relative;
        flex-direction: column;
        border-radius: 0.5rem;
        width: fit-content;
        gap: 1rem;
        border: solid 1px #fff;
        width: 100%;

        .placeholder-container {
          position: absolute;
          top: 0%;
          left: 0.5rem;
          height: 4.5rem;
          width: 100%;
          pointer-events: none;
        }

        input {
          // width: 39rem;
          width: 100%;
          height: 5rem;
          border: solid 3px transparent;
          outline: solid 1px #8b8b8b;
          border-radius: 0.5rem;
          padding: 1.1rem 3.5rem 1.1rem 1.1rem;
          letter-spacing: 2px;
          transition: all 0.3s ease-in-out;
          &:focus {
            border: solid 3px $primary-bg-color;
            outline: none;
          }

          &:focus + .placeholder-container .placeholder-text {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            color: black;
            // border: solid 1px #8b8b8b;
            scale: 0.8;
          }
        }

        .placeholder-text {
          position: absolute;
          transition: all 0.2s ease-in-out;
          pointer-events: none;
          top: 50%;
          left: 5%;
          transform: translate(0%, -50%);
          &:nth-child(1) {
            left: 2% !important;
          }
          .text {
            font-size: 1.4rem;
            padding: 0 0.5rem;
            background-color: transparent;
            color: black;
            display: flex;
            gap: 0.5rem;
            align-items: center;
          }
        }
        .active {
          top: 0%;
          left: 0%;
          background-color: #fff;
          font-size: 1.1rem;
          border-color: #8b8b8b;
          scale: 0.8;
        }
      }
      button {
        cursor: pointer;
        height: 4.5rem;
        @include flexCenter;
        margin: auto;
        padding: 1.6rem;
        border-radius: 5px;
        border: solid 1px transparent;
        outline: none;
        background-color: $primary-bg-color;
        color: $primary-font-color;
        letter-spacing: 0.2rem;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        &:hover {
          background-color: $primary-font-color;
          color: $primary-bg-color;
          border: solid 1px $primary-bg-color;
        }
      }
      .inactive {
        position: absolute;
        transform: translate(-100%, 0%);
      }
      .internship-details {
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 2rem;
        border-radius: 1rem;
        top: 0%;
        left: 0%;
        transition: all 0.2s linear;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 5rem) auto;
        gap: 2rem;

        h3 {
          grid-column: 1/3;
        }
        button {
          grid-row: 6/7;
          grid-column: 1/3;
        }

        .input-contain {
          &:nth-of-type(2) {
            grid-row: 3/4;
          }
        }
      }
      .active {
        transform: translate(-100%, 0%);
      }
      .student-details {
        position: absolute;
        padding: 2rem;
        border-radius: 1rem;
        top: 0%;
        left: 100%;
        width: 100%;
        height: 100%;
        border: solid 1px #fff;
        transition: all 0.2s linear;
        display: grid;
        .img-input {
          display: flex;
          align-items: center;
          border: solid 1px #8b8b8b;
          gap: 2rem;
          padding-left: 2rem;
          border-radius: 0.5rem;
        }
        .btn-con {
          @include flexCenter;
        }
      }
    }
  }

  .verify {
    height: 40rem;
    width: 50rem;
  }
}
