@import "../variables";
@import "../utils";

.profile-page {
  display: grid;
  height: 100%;
  width: 100%;
  // grid-template-rows: 30vh 63vh;
  grid-template-rows: auto minmax(30rem, 66vh);
  gap: 1rem;

  .profile-user {
    display: grid;
    grid-template-rows: 2fr 0 2.5fr;
    .profile-bg {
      background-size: cover;
      border-radius: 1rem 1rem 0 0;
    }
    .profile-details {
      position: relative;
      .profile-img {
        position: absolute;
        left: 2rem;
        top: -5rem;
        border-radius: 50%;
        border: solid 3px #ffffff9d;
        width: 12rem;
        height: 12rem;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .intern-info {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #282b30;
      border-radius: 0 0 1rem 1rem;
      padding: 1rem;
      .intern-details {
        display: grid;
        padding: 1rem 1rem 1rem 15rem;
        h3,
        p {
          color: #fff;
        }
        .program-short {
          display: none;
        }
      }
      .btn-edit {
        button {
          background-color: #282b30;
          color: #fff;
          border: none;
          outline: none;
          font-size: 2.5rem;
          font-weight: 600;
          transition: all 0.3s linear;
          cursor: pointer;
          &:hover {
            color: $primary-feature-bg;
          }
        }
      }
    }
  }
  .content {
    display: grid;
    grid-template-rows: 5rem auto;

    .button-container {
      width: 60rem;
      border-radius: 1rem 1rem 0 0;
      display: grid;
      grid-template-columns: repeat(5, auto);
      background-color: #282b30;
      button {
        color: #fff;
        outline: none;
        border: none;
        padding: 1rem;
        background-color: transparent;
        transition: all 0.3s linear;
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;

        &:hover::before {
          width: 80%;
        }
        &:focus {
          background-color: lighten(
            $color: $primary-bg-color-landing-compliment,
            $amount: 30
          );
          &::before {
            width: 80%;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 75%;
          transform: translate(-50%, -75%);
          transition: all 0.3s linear;
          width: 0%;
          height: 2px;
          z-index: 2;
          background-color: #fff;
        }

        &:nth-of-type(1) {
          border-radius: 1rem 0 0 0;
        }
        &:nth-last-of-type(1) {
          border-radius: 0 1rem 0 0;
        }
      }
      .active {
        background-color: $primary-compliment-landing;
        // background-color: lighten(
        //   $color: $primary-bg-color-landing-compliment,
        //   $amount: 30
        // );
        &::before {
          width: 80%;
        }
      }
    }
    .display {
      padding: 2rem;
      border-radius: 0 1rem 1rem 1rem;
      background-color: #282b30;
      display: grid;
      overflow-y: auto;

      .intern-details-container {
        background-color: #d9d9d9;
        // color: #fff;
        border-radius: 1rem;
        padding: 2rem;
        display: grid;
        .intern-content {
          display: grid;
          font-size: 1.9rem;
          padding: 1rem;
          border-radius: 1rem;
          background-color: #fff;
        }
      }
      .internship-details-container {
        background-color: #d9d9d9;
        border-radius: 1rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 1rem;
        .img-con {
          background-color: #fff;
          // border: solid 1px #000;
          border-radius: 1rem;
          height: 15rem;
          width: 15rem;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .text {
          display: grid;
          padding: 1rem;
          background-color: #fff;
          border-radius: 1rem;
          p {
            font-size: 1.9rem;
          }
          p:last-child {
            word-break: break-all;
          }
        }
      }
      .attendance-container {
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .no-record {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // gap: 1rem;
          // color: #fff;
          img {
            height: 23rem;
            width: 23rem;
          }
        }
        .attendance-view,
        .attendance-absent {
          // background-color: $primary-compliment-landing;
          background-color: #d9d9d9;
          border-radius: 1rem;
          padding: 1.5rem;
          // color: #fff;
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          .present {
            color: $primary-feature-bg;
          }
          .Absent {
            color: $red-primary-color;
          }
          & > * {
            display: flex;
            gap: 1rem;
          }
        }
      }
      .request-container {
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .document-record {
          display: flex;
          justify-content: space-between;
          background-color: #d9d9d9;

          gap: 1rem;
          // background-color: $primary-compliment-landing;
          padding: 1.5rem;
          border-radius: 1rem;
          // color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .profile-page {
    .content {
      .display {
        .attendance-container {
          .attendance-view {
            // flex-direction: column;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 0;
            & > *:nth-child(3) {
              grid-row: 2/3;
              grid-column: 1/3;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .profile-page {
    .content {
      .display {
        .internship-details-container {
          grid-template-columns: auto;
          grid-template-rows: auto 1fr;
          .img-con {
            margin: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .profile-page {
    .profile-user {
      .intern-info {
        .intern-details {
          .program {
            display: none;
          }
          .program-short {
            display: flex;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .profile-page {
    .content {
      grid-template-rows: 6rem auto;

      .button-container::-webkit-scrollbar {
        width: 0.8rem;
        height: 0.8rem;
      }
      .button-container::-webkit-scrollbar-track {
        border-radius: 0;
      }
      .button-container {
        grid-template-columns: 12rem 14.2rem 10.3rem 8.8rem 8rem;
        width: 70vw;
        overflow-x: auto;
        // button {
        //   &:nth-child(1) {
        //     width: 12rem;
        //   }
        //   &:nth-child(2) {
        //     width: 14.2rem;
        //   }
        //   &:nth-child(3) {
        //     width: 10.3rem;
        //   }
        //   &:nth-child(4) {
        //     width: 8.8rem;
        //   }
        //   &:nth-child(5) {
        //     width: 8rem;
        //   }
        // }
      }
      .display {
        .intern-details-container .intern-content,
        .internship-details-container .text {
          p {
            font-size: 1.8rem;
          }
        }
        .request-container {
          font-size: 1.8rem;
        }
        .attendance-container {
          .attendance-view,
          .attendance-absent {
            font-size: 1.8rem;
          }
          .attendance-view {
            display: flex;
            flex-direction: column;
            & > *:nth-child(3) {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .profile-page {
    .content {
      .display {
        .attendance-container {
          .attendance-view {
            & > *:nth-child(3) {
              display: flex;
              flex-direction: column;
              gap: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .profile-page {
    grid-template-rows: auto minmax(30rem, 60vh);
    .profile-user {
      .profile-details {
        .profile-img {
          width: 11rem;
          height: 11rem;
        }
      }
      .intern-info {
        .intern-details {
          h3 {
            font-size: 1.9rem;
          }
          p {
            font-size: 1.8rem;
          }
        }
        .btn-edit {
          button {
            font-size: 2rem;
          }
        }
      }
    }
    .content {
      .button-container {
        width: 80vw;
      }
      .display {
        .intern-details-container .intern-content,
        .internship-details-container .text {
          p {
            font-size: 1.7rem;
          }
        }
        .internship-details-container {
          .img-con {
            height: 13rem;
            width: 13rem;
          }
        }
        .attendance-container {
          .attendance-view,
          .attendance-absent {
            font-size: 1.7rem;
          }
        }
        .request-container {
          font-size: 1.7rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .profile-page {
    .profile-user {
      .profile-details {
        .profile-img {
          width: 10rem;
          height: 10rem;
        }
      }
      .intern-info {
        .intern-details {
          padding: 0 1rem 0 12rem;
          h3 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.7rem;
          }
        }
        .btn-edit {
          button {
            font-size: 2rem;
          }
        }
      }
    }
    .content {
      grid-template-rows: 5rem auto;
      .button-container {
        button {
          font-size: 1.1rem;
          height: 4.2rem;
        }
      }
      .display {
        .intern-details-container .intern-content,
        .internship-details-container .text {
          p {
            font-size: 1.6rem;
          }
        }
        .intern-details-container,
        .internship-details-container,
        .attendance-container,
        .request-container {
          padding: 1rem;
        }
        .internship-details-container {
          .img-con {
            height: 12rem;
            width: 12rem;
          }
        }
        .attendance-container {
          .attendance-view,
          .attendance-absent {
            font-size: 1.6rem;
          }
        }
        .request-container {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .profile-page {
    grid-template-rows: auto minmax(30rem, 55vh);
    .profile-user {
      .profile-details {
        .profile-img {
          left: 1.5rem;
          width: 9rem;
          height: 9rem;
        }
      }
      .intern-info {
        .intern-details {
          padding: 0 1rem 0 10.5rem;
          h3 {
            font-size: 1.7rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
        .btn-edit {
          button {
            font-size: 1.8rem;
          }
        }
      }
    }
    .content {
      .display {
        .intern-details-container .intern-content,
        .internship-details-container .text {
          p {
            font-size: 1.5rem;
          }
        }
        .internship-details-container {
          .img-con {
            height: 10rem;
            width: 10rem;
          }
        }
        .attendance-container {
          .no-record {
            h3 {
              font-size: 1.8rem;
            }
            img {
              height: 20rem;
              width: 20rem;
            }
          }
          .attendance-view,
          .attendance-absent {
            font-size: 1.5rem;
          }
        }
        .request-container {
          font-size: 1.5rem;
        }
      }
    }
  }
}
