@import "../variables";
@import "../utils";

.reports {
  display: grid;
  height: 100%;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  .sort-modals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 11;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;

    // & > * {
    //   border: solid 1px red;
    // }
    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-sorting {
      display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding-top: 2rem;

      .day,
      .week,
      .month,
      .year,
      .a-z-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;
        // border-radius: 2rem;

        label {
          display: flex;
          flex-direction: row;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
      .ascending {
        display: grid;
        grid-template-columns: auto auto;
      }
    }
  }
  .status-modals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;
    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-status {
      display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding-top: 2rem;

      .complete-task,
      .pending-task,
      .missing-task {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;

        label {
          display: flex;
          flex-direction: row;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .filter-modals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 4;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;
    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-status {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 2rem;

      .week-filter,
      .month-filter,
      .year-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;

        label {
          display: grid;
          grid-template-columns: 1.5rem auto;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .week-modals {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    width: 25rem;
    z-index: 5;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;

    .week-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .labels-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;

        label {
          display: grid;
          grid-template-columns: 12rem 1.5rem;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }

        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }

  & > .content {
    display: grid;
    grid-template-rows: 5rem auto;

    .button-content {
      display: flex;
      justify-content: space-between;
      border-radius: 1rem 1rem 0 0;
      .button-container {
        width: 45rem;
        border-radius: 1.5rem 1.5rem 0 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        background-color: lighten(
          $color: $primary-bg-color-landing-compliment,
          $amount: 10
        );
        border: solid 1px #fff;

        button {
          color: #fff;
          outline: none;
          border: none;
          padding: 1rem;
          background-color: transparent;
          transition: all 0.3s linear;
          position: relative;
          font-weight: 600;
          letter-spacing: 1px;

          &:hover::before {
            width: 80%;
          }
          &:focus {
            background-color: lighten(
              $color: $primary-bg-color-landing-compliment,
              $amount: 30
            );
            &::before {
              width: 80%;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 75%;
            transform: translate(-50%, -75%);
            transition: all 0.2s linear;
            width: 0%;
            height: 2px;
            z-index: 2;
            background-color: #fff;
          }

          &:nth-of-type(1) {
            border-radius: 1.5rem 0 0 0;
          }
          &:nth-last-of-type(1) {
            border-radius: 0 1.5rem 0 0;
          }
        }
      }
    }

    .display {
      border: solid 1px #fff;
      color: #fff;
      // padding: 2rem;
      border-radius: 0 0 1.5rem 1.5rem;
      background-color: lighten(
        $color: $primary-bg-color-landing-compliment,
        $amount: 10
      );
    }
  }
  @import "../pages/reports/narative";
}
