/** @format */

@import "../variables";
@import "../utils";

.reports {
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 1rem;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    filter: blur(20px);
    top: 0%;
    left: 0%;
    z-index: 6;
  }
  .modal {
    background-color: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: 7;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    // & > * {
    //   background-color: #fff;
    //   border: solid 1px #000;
    // }
    .upper {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      padding: 2rem;
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 1rem;
    }
    .middle {
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 1rem;
      textarea {
        border-radius: 1rem;
        font-size: 1.6rem;
        resize: none;
        width: 100%;
        height: 100%;
        padding: 2rem;
      }
    }
    .btn-controller {
      @include flexCenter;
      gap: 2rem;
      button {
        @include flexCenter;
        height: 4rem;
        background-color: $primary-compliment-landing;
        border: none;
        border-radius: 1rem;
        outline: none;
        cursor: pointer;
        padding: 1rem 2rem;
        transition: all 0.2s linear;
        font-weight: 600;
        font-size: 1.5rem;
        color: #d9d9d9;
        &:hover {
          background-color: $primary-feature-bg;
          border-radius: 0;
          color: #fff;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-rows: auto minmax(45rem, 81vh);
    gap: 1rem;

    .button-container {
      background-color: #282b30;
      // @include flexCenter;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 2rem 3rem;
      border-radius: 1rem;
      button {
        height: 4.5rem;
        @include flexCenter;
        flex-direction: row;
        border: none;
        padding: 1rem 2rem;
        outline: none;
        font-weight: 500;
        color: #fff;
        background-color: $primary-compliment-landing;
        transition: all 0.3s linear;
        cursor: pointer;
        span {
          font-size: 1.8rem;
          padding: 0.5rem 0.5rem 0;
        }
        p {
          font-size: 1.5rem;
        }
        &:hover {
          background-color: $primary-feature-bg;
          border-radius: 1rem;
        }
      }
    }

    .report-container {
      display: grid;
      grid-auto-rows: 12rem;
      grid-template-columns: repeat(auto-fill, 45rem);
      gap: 1rem;
      padding: 2rem;
      background-color: #282b30;
      border-radius: 1rem;
      overflow-y: auto;

      .narrative-content {
        background-color: #d9d9d9;
        display: grid;
        grid-template-rows: auto 2rem;
        border-radius: 1rem;
        .sub-container {
          padding: 1rem;
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 1rem;
          & > * {
            @include flexCenter;
            flex-direction: column;
            background-color: #fff;
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
          }
        }
        .dropdown-container {
          background-color: $primary-feature-bg;
          border-radius: 0 0 1rem 1rem;
          display: grid;
          grid-template-rows: 0rem 1fr;
          transition: all 0.3s ease-in-out;
          border-radius: 0 0 1rem 1rem;
          margin-top: 1rem;
          .days-container {
            background-color: $primary-feature-bg;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0 0 1rem 1rem;
            margin-top: -1rem;

            .narrative-day {
              background-color: #d9d9d9;
              border-radius: 1rem;
              padding: 1rem;
              gap: 1rem;
              display: grid;
              grid-template-columns: 14rem 1fr 1fr;
              & > * {
                @include flexCenter;
              }
              .num-days {
                flex-direction: column;
                background-color: #fff;
                border-radius: 1rem;
                text-align: center;
                padding: 1rem;
                // border: solid 1px #000;
              }
              .status {
                background-color: #fff;
                border-radius: 1rem;
                text-align: center;
                padding: 1rem;
                // border: solid 1px #000;
              }

              .btn-container {
                gap: 1rem;
                button {
                  background-color: #fff;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  padding: 1rem 1.5rem;
                  transition: all 0.2s linear;
                  font-weight: 600;
                  border-radius: 1rem;
                  &:hover {
                    border-radius: 0;
                    background-color: $primary-feature-bg;
                    color: #fff;
                  }
                  // &:first-child:hover {
                  //   background-color: $primary-compliment-landing;
                  //   color: #fff;
                  // }
                  // &:last-child:hover {
                  //   background-color: $primary-bg-color;
                  //   color: #fff;
                  // }
                }
              }
            }
          }
          .dropdown-btn {
            margin-top: -1rem;
            border-radius: 0 0 1rem 1rem;
            @include flexCenter;
            height: 2rem;
            width: 100%;
            background-color: #d9d9d9;
            cursor: pointer;
            background-color: $primary-feature-bg;
            &:hover {
              background-color: #fff;
              background-color: #00c0ca;
            }
          }
          .icon {
            color: #fff;
          }
        }
        .active {
          grid-template-rows: 48rem 1fr;
          z-index: 4;
        }
      }
    }
  }

  .sort-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;

    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-sorting {
      display: flex;
      flex-direction: column;
      // grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding-top: 2rem;

      .day,
      .week,
      .month,
      .year,
      .a-z-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;
        // border-radius: 2rem;

        label {
          display: grid;
          grid-template-columns: 1.5rem auto;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
      .ascending {
        display: grid;
        grid-template-columns: auto auto;
      }
    }
  }
  .status-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;
    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-status {
      display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding-top: 2rem;

      .complete-task,
      .pending-task,
      .missing-task {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;

        label {
          display: flex;
          flex-direction: row;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .filter-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: solid 2px black;
    height: 50rem;
    width: 50rem;
    z-index: 4;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;
    border-radius: 2rem;
    h3 {
      font-weight: 800;
      font-size: 2.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem;
    }
    .modals-status {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 2rem;

      .week-filter,
      .month-filter,
      .year-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-weight: 600;

        label {
          display: grid;
          grid-template-columns: 1.5rem auto;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }
        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .week-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(103%, -120%);
    border: solid 2px black;
    width: 25rem;
    z-index: 5;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;

    .week-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .week-labels-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;

        label {
          display: grid;
          grid-template-columns: auto 1.5rem;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }

        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .month-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(103%, -39%);
    border: solid 2px black;
    width: 25rem;
    z-index: 6;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;

    .month-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .month-labels-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;

        label {
          display: grid;
          grid-template-columns: 1.5rem auto;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }

        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
  .year-modals {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(103%, -72%);
    border: solid 2px black;
    width: 25rem;
    z-index: 7;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #0d7377;

    .year-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .year-labels-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d9d9d9;
        padding: 0.5rem 1rem 0.5rem 2rem;

        label {
          display: grid;
          grid-template-columns: 1.5rem auto;
          input {
            cursor: pointer;
          }
          p {
            padding: 0 1rem;
          }
        }

        span {
          @include flexCenter;
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.521);
          }
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 750px) {
  .reports {
    .modal {
      width: 90%;
      .upper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 1rem 2rem;
        gap: 0;
        & > :nth-child(3) {
          margin: auto;
          grid-column: 2/3;
          // width: 60%;
          grid-row: 1/3;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .reports {
    .content {
      .report-container {
        grid-template-columns: 1fr;
        .narrative-content {
          .dropdown-container {
            .days-container {
              .narrative-day {
                .btn-container {
                  flex-direction: column;
                  gap: 0.5rem;
                }
              }
            }
          }
          .active {
            grid-template-rows: 53rem 1fr;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .reports {
    .modal {
      height: 90%;
      .upper {
        h3 {
          font-size: 2rem;
        }
      }
    }
    .content {
      grid-template-rows: auto minmax(45rem, 70vh);

      .report-container {
        .narrative-content {
          .dropdown-container {
            .days-container {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(3, 1fr);

              .narrative-day {
                grid-template-rows: repeat(3, auto);
                grid-template-columns: auto;
                gap: 0;
                & > * {
                  @include flexCenter;
                  background-color: #fff;
                }
                .num-days {
                  // gap: 1rem;
                  padding: 0;
                  border-radius: 1rem 1rem 0 0;
                }
                .status {
                  padding: 0;
                  border-radius: 0;
                }
                .btn-container {
                  border-radius: 0 0 1rem 1rem;
                  flex-direction: row;
                  padding: 0.5rem 0;
                  button {
                    background-color: #d9d9d9;
                  }
                }
              }
              & > :nth-child(5) {
                width: 60%;
                margin: auto;
                grid-row: 3/4;
                grid-column: 1/3;
              }
            }
          }
          .active {
            grid-template-rows: 43rem 1fr;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .reports {
    .modal {
      width: 100%;
      height: 100%;
      .upper {
        gap: 0.5rem;
        h3 {
          font-size: 1.9rem;
        }
      }
      .btn-controller {
        button {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .reports {
    .content {
      grid-template-rows: auto minmax(45rem, 67vh);
      .button-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        padding: 1rem;
        gap: 0.5rem;
        button {
          border-radius: 1rem;
          &:hover {
            border-radius: 0;
          }
        }
        & > :nth-child(2) {
          margin: auto;
          width: 60%;
          grid-row: 2/3;
          grid-column: 1/3;
        }
      }
      .report-container {
        grid-auto-rows: 14rem;
        .narrative-content {
          .dropdown-container {
            .days-container {
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: repeat(5, 10.5rem);
              .narrative-day {
                grid-template-rows: repeat(2, auto);
                grid-template-columns: repeat(2, auto);

                .num-days {
                  // flex-direction: row;
                  // gap: 0.5rem;
                  border-radius: 1rem 0 0 0;
                }
                .status {
                  border-radius: 0 0 0 1rem;
                }
                .btn-container {
                  padding: 0.5rem;
                  flex-direction: column;
                  grid-column: 2/3;
                  grid-row: 1/3;
                  border-radius: 0 1rem 1rem 0;
                }
              }
            }
          }
          .active {
            grid-template-rows: 58rem 1fr;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .reports {
    .content {
      grid-template-rows: auto minmax(35rem, 64vh);
    }
  }
}
