@import "../variables";
@import "../utils";

.server-error {
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  background-color: #393e46;
  gap: 2rem;
  img {
    height: 30rem;
  }
  h1 {
    color: #fafafa;
  }
  button {
    color: $primary-font-color;
    background-color: #393e46;
    border: solid 1px $primary-compliment-landing;
    border-radius: 1rem;
    transition: all 0.3s linear;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    &:hover {
      background-color: #0e6164;
      color: $primary-font-color;
      border: solid 1px $primary-compliment-landing;
      border-radius: 3rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .server-error {
    img {
      height: 28rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .server-error {
    img {
      height: 25rem;
    }
    h1 {
      font-size: 2rem;
    }
    button {
      padding: 1.2rem 3.2rem;
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .server-error {
    img {
      height: 20rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .server-error {
    img {
      height: 16rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .server-error {
    img {
      height: 13rem;
    }
    h1,
    button {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .server-error {
    img {
      height: 10rem;
    }
    h1,
    button {
      font-size: 1.3rem;
    }
  }
}
