/** @format */

@import "../../variables";
@import "../../utils";

.verification-container {
  border: solid 1px #fff;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 4.3rem auto;
  gap: 1rem;
  padding: 3rem;

  .valid-id-modal {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.76);
    border: solid 1px #000;
    z-index: 8;
    @include flexColumn;
    align-items: center;
    justify-content: center;
    img {
      height: 50rem;
      width: 50rem;
    }
    button {
      cursor: pointer;
      height: 4.5rem;
      @include flexCenter;
      padding: 1.6rem;
      border-radius: 5px;
      border: solid 1px transparent;
      outline: none;
      background-color: $primary-compliment-landing;
      color: $primary-font-color;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      &:last-child:hover {
        background-color: $primary-font-color;
        color: $primary-compliment-landing;
        border: solid 1px $primary-compliment-landing;
      }
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 47, 47, 0.753);
    position: absolute;
    filter: blur(20px);
    top: 0%;
    left: 0%;
    z-index: 6;
  }
  .are-you-sure-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 36rem;
    background-color: #fff;
    z-index: 7;
    border: solid 1px $primary-bg-color-landing-compliment;
    border-radius: 2rem;
    padding: 4rem 2rem;
    gap: 1rem;
    @include flexCenter;
    flex-direction: column;
    // display: grid;
    // align-items: center;
    text-align: center;
    span {
      color: $primary-compliment-landing;
      font-size: 7rem;
    }
    h3,
    p {
      width: 80%;
    }
    p {
      color: #757575;
      font-size: 1.6rem;
    }
    .button-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      button {
        &:first-child {
          background-color: #fff;
          border: solid 1px $primary-compliment-landing;
          color: $primary-compliment-landing;
        }
        &:last-child {
          background-color: $primary-compliment-landing;
          color: $primary-font-color;
        }
        cursor: pointer;
        height: 4.5rem;
        @include flexCenter;
        // margin: 0 auto;
        padding: 1.6rem;
        border-radius: 5px;
        border: solid 1px transparent;
        outline: none;
        color: $primary-font-color;
        letter-spacing: 0.2rem;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        &:first-child:hover {
          background-color: $red-primary-color;
          color: #fff;
          border: solid 1px $red-primary-color;
        }
        &:last-child:hover {
          color: $primary-compliment-landing;
          background-color: $primary-font-color;
          border: solid 1px $primary-compliment-landing;
        }
      }
    }
  }

  .success-modal {
    display: grid;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 300px;
    background-color: #fff;
    border: solid 1px #000;
    z-index: 7;
    border-radius: 2rem;
    padding: 2rem;

    button {
      margin: auto;
      cursor: pointer;
      height: 4.5rem;
      @include flexCenter;
      padding: 1.6rem;
      border-radius: 5px;
      border: solid 1px transparent;
      outline: none;
      background-color: $primary-bg-color;
      color: $primary-font-color;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      &:last-child:hover {
        background-color: $primary-font-color;
        color: $primary-bg-color;
        border: solid 1px $primary-bg-color;
      }
    }
  }

  .greetings {
    font-size: 2.5rem;
    color: $primary-font-color;
    span {
      color: $primary-compliment-landing;
    }
  }

  .verification-steps {
    overflow: hidden;
    margin: auto;
    background-color: #fff;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 12rem auto;
    gap: 2rem;
    padding: 4rem 3rem 3rem;

    p {
      font-size: 2.5rem;
      font-weight: 600;
    }
    .steps-container {
      // display: grid;
      display: flex;
      flex-direction: column;
      text-align: center;
      .steps {
        // display: flex;
        // justify-content: space-evenly;
        // align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        position: relative;
        .step-1,
        .step-2,
        .step-3 {
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
          @include flexCenter;
          font-weight: 600;
          // background-color: $primary-compliment-landing;
          transition: all 0.2s ease-in-out;
          border: solid 3px $primary-compliment-landing;
          span {
            @include flexColumn;
          }
        }
        .active {
          color: #fff;
          background-color: $primary-compliment-landing;
        }
        .step-1 {
          position: relative;
          &::after {
            content: " ";
            position: absolute;
            left: calc(100% + 1px);
            border: dashed 2px $primary-compliment-landing;
            width: 150%;
          }
        }
        .step-2 {
          position: relative;
          &::after {
            content: " ";
            position: absolute;
            left: calc(100% + 1px);
            border: dashed 2px $primary-compliment-landing;
            width: 148%;
          }
        }
      }
    }
  }

  form {
    width: 60rem;
    position: relative;
    margin: auto;
    // overflow: hidden;
    height: 45rem;

    .inactive {
      transform: translate(-120%, 0%);
    }
    .inactive-1 {
      transform: translate(-240%, 0%);
    }
    .inactive-2 {
      transform: translate(-80%, 0%);
    }

    .active {
      transform: translate(-120%, 0%);
    }
    .active-1 {
      transform: translate(-200%, 0%);
    }

    .internship-details,
    .student-details,
    .schedule-details {
      background-color: #f3f3f3;

      input[type="file"] {
        display: none;
      }
      p {
        font-size: 1.8rem;
      }
    }
    .internship-details {
      border: solid 1px #000;
      z-index: 3;
      height: 100%;
      width: 100%;
      position: absolute;
      padding: 1rem;
      border-radius: 1rem;
      top: 0%;
      left: 0%;
      transition: all 0.2s linear;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow-y: auto;
      .forms-con {
        transition: all 0.2s linear;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        width: 100%;

        .img-input {
          height: 5rem;
          display: flex;
          align-items: center;
          border: solid 1px #8b8b8b;
          background-color: #fff;
          gap: 2rem;
          padding-left: 2rem;
          border-radius: 0.5rem;
          label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            p {
              font-size: 1.8rem;
              font-weight: 400;
            }
            img {
              height: 4rem;
              width: 4rem;
              border: solid 1px $primary-bg-color;
              cursor: pointer;
            }
          }
        }
      }
    }

    .student-details {
      border: solid 1px #000;
      position: absolute;
      padding: 1rem;
      border-radius: 1rem;
      top: 0%;
      left: 120%;
      width: 100%;
      height: 100%;
      transition: all 0.2s linear;
      gap: 2rem;
      display: grid;
      grid-template-rows: auto auto;

      .forms-con {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .img-input {
          height: 5rem;
          display: flex;
          align-items: center;
          border: solid 1px #8b8b8b;
          background-color: #fff;
          gap: 2rem;
          padding-left: 2rem;
          border-radius: 0.5rem;
          label {
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            img {
              height: 4rem;
              width: 4rem;
              border: solid 1px $primary-bg-color;
              cursor: pointer;
            }
          }
        }
      }

      .btn-con {
        @include flexCenter;
      }
    }

    .schedule-details {
      border: solid 1px #000;
      position: absolute;
      padding: 1rem;
      border-radius: 1rem;
      top: 0%;
      left: 200%;
      width: 100%;
      height: 100%;
      transition: all 0.2s linear;
      gap: 2rem;
      display: grid;
      grid-template-rows: auto auto;

      .not-visible {
        display: none;
      }

      .forms-con {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .img-input {
        height: 5rem;
        display: flex;
        align-items: center;
        border: solid 1px #8b8b8b;
        gap: 2rem;
        padding-left: 2rem;
        border-radius: 0.5rem;
      }
      .btn-con {
        @include flexCenter;
      }
    }

    .input-contain {
      display: flex;
      position: relative;
      flex-direction: column;
      width: fit-content;
      gap: 1rem;
      width: 100%;

      &:nth-child(8) {
        input {
          &:not(:focus) + .placeholder-container .placeholder-text {
            top: 0%;
            left: 0%;
            background-color: #fff;
            font-size: 1.1rem;
            color: black;
            // border: solid 1px #8b8b8b;
            scale: 0.8;
          }
        }
      }

      textarea {
        resize: none;
        height: 10rem;
        border: solid 3px transparent;
        outline: solid 1px #8b8b8b;
        border-radius: 0.5rem;
        padding: 1.1rem 3.5rem 1.1rem 2rem;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;
        &:focus {
          border: solid 3px $primary-bg-color;
          outline: none;
        }

        .placeholder-container {
          position: absolute;
          top: 0%;
          left: 0rem;
          height: 100%;
          width: 100%;
          pointer-events: none;
        }

        &:focus + .placeholder-container .placeholder-text {
          top: 0%;
          left: 0%;
          background-color: #fff;
          font-size: 1.1rem;
          color: black;
          scale: 0.8;
        }
      }

      .error-message {
        font-size: 1.4rem;
        color: red;
      }

      .placeholder-container {
        position: absolute;
        top: 0%;
        left: 0rem;
        height: 4.5rem;
        width: 100%;
        pointer-events: none;
      }

      input {
        width: 100%;
        height: 5rem;
        border: solid 3px transparent;
        outline: solid 1px #8b8b8b;
        border-radius: 0.5rem;
        padding: 1.1rem 3.5rem 1.1rem 2rem;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;
        background-color: #fff;

        &:focus {
          border: solid 3px $primary-bg-color;
          outline: none;
        }

        &:focus + .placeholder-container .placeholder-text {
          top: 0%;
          left: 0%;
          background-color: #fff;
          font-size: 1.1rem;
          color: black;
          // border: solid 1px #8b8b8b;
          scale: 0.8;
        }
      }

      .placeholder-text {
        position: absolute;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
        top: 50%;
        left: 5%;
        transform: translate(0%, -50%);
        &:nth-child(1) {
          left: 2% !important;
        }
        .text {
          font-size: 1.4rem;
          padding: 0 0.5rem;
          background-color: transparent;
          color: black;
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
      }
      .active {
        top: 0%;
        left: 0%;
        background-color: #fff;
        font-size: 1.1rem;
        border-color: #8b8b8b;
        scale: 0.8;
      }
    }

    button {
      cursor: pointer;
      height: 4.5rem;
      @include flexCenter;
      margin: auto;
      padding: 1.6rem;
      border-radius: 5px;
      border: solid 1px transparent;
      outline: none;
      background-color: $primary-compliment-landing;
      color: $primary-font-color;
      letter-spacing: 0.2rem;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      &:hover {
        color: $primary-compliment-landing;
        background-color: $primary-font-color;
        border: solid 1px $primary-compliment-landing;
      }
    }
  }
}

// Responsive

@media screen and (max-width: 860px) {
  .verification-container {
    .valid-id-modal {
      img {
        height: 45rem;
        width: 45rem;
      }
    }

    .are-you-sure-modal {
      width: 55rem;
    }
    .verification-steps {
      grid-template-rows: 11rem auto;
      width: 100%;
      height: 100%;

      .steps-container {
        gap: 1rem;
        .steps {
          .step-1,
          .step-2,
          .step-3 {
            height: 6.8rem;
            width: 6.8rem;
          }
        }
        .step-1 {
          &::after {
            display: none;
          }
        }
        .step-2 {
          &::after {
            display: none;
          }
        }
      }
      form {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .verification-container {
    .valid-id-modal {
      img {
        height: 40rem;
        width: 40rem;
      }
    }
    .are-you-sure-modal {
      width: 45rem;
      height: 40rem;
    }

    .verification-steps {
      grid-template-rows: 10rem auto;

      .steps-container {
        h2 {
          font-size: 2.5rem;
        }
        .steps {
          .step-1,
          .step-2,
          .step-3 {
            height: 6.2rem;
            width: 6.2rem;
          }
        }
      }
      form {
        .internship-details,
        .student-details,
        .schedule-details {
          overflow-y: auto;
        }
        .student-details {
          .forms-con {
            .img-input {
              height: auto;
              padding: 1rem 0;
              label {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .verification-container {
    .valid-id-modal {
      img {
        height: 35rem;
        width: 35rem;
      }
      button {
        height: 3.5rem;
      }
    }

    .are-you-sure-modal {
      width: 35rem;
      height: 42rem;
      border-radius: 2rem;

      span {
        font-size: 6rem;
      }
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
      h3,
      p {
        width: 90%;
      }
      .button-container {
        button {
          height: 3.5rem;
        }
      }
    }

    .greetings {
      font-size: 2.2rem;
    }
    .verification-steps {
      .steps-container {
        h2 {
          font-size: 2.3rem;
        }
        .steps {
          .step-1,
          .step-2,
          .step-3 {
            height: 6rem;
            width: 6rem;
          }
        }
      }
      form {
        // .student-details {
        //   .forms-con {
        //     .img-input {
        //       label {
        //         input {
        //           width: 60%;
        //         }
        //       }
        //     }
        //   }
        // }

        button {
          height: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .verification-container {
    padding: 1rem;
    border: none;

    .valid-id-modal {
      img {
        height: 30rem;
        width: 30rem;
      }
    }

    // .are-you-sure-modal {
    // width: 38rem;
    // height: 40rem;
    //   padding: 2rem;
    // }
    .verification-steps {
      padding: 2rem;
      grid-template-rows: 8rem auto;

      .steps-container {
        h2 {
          font-size: 2rem;
        }
        .steps {
          .step-1,
          .step-2,
          .step-3 {
            height: 5.7rem;
            width: 5.7rem;
          }
        }
      }

      // form {
      //   .student-details {
      //     .forms-con {
      //       .img-input {
      //         label {
      //           input {
      //             width: 80%;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
}

@media screen and (max-width: 400px) {
  .verification-container {
    .valid-id-modal {
      img {
        height: 25rem;
        width: 25rem;
      }
    }

    .are-you-sure-modal {
      width: 95%;
    }

    .verification-steps {
      form {
        .btn-con {
          display: grid;
          grid-template-rows: auto auto;
          gap: 1rem;
          :nth-last-child(1) {
            grid-row: 1/2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .verification-container {
    padding: 1rem;
    border: none;
    // .verification-steps {
    //   form {
    //     .student-details {
    //       .forms-con {
    //         .img-input {
    //           label {
    //             input {
    //               width: 90%;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
