@import "../../variables";
@import "../../utils";

.waiting-container {
  // min-height: 90%;
  width: 70vw;
  margin: auto;
  background-color: #fff;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 0.4fr auto auto;
  gap: 1rem;
  padding: 3rem;
  min-height: 78vh;
  // & > * {
  //   padding: 1rem;
  // }
  header {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 1rem;
    padding: 1rem;

    .left-one {
      width: 80%;
      h2 {
        padding-bottom: 1rem;
      }
      p {
        color: #707070;
      }
    }
    .right-one {
      display: grid;
      grid-template-columns: 9rem auto;
      border-top: solid 1px #000;
      background-color: #d9d9d9;
      gap: 1rem;
      padding: 1rem;
      .right-icons {
        @include flexCenter;
        flex-direction: column;
        span {
          // @include flexCenter;
          color: red;
          font-size: 6rem;
        }
      }
      .right-remarks {
        display: flex;
        text-align: center;
        align-items: center;
        color: red;
      }
    }
  }
  .sent-details {
    display: grid;
    grid-template-rows: auto auto;
    border-top: solid 1px #000;
    background-color: #d9d9d9;
    padding: 2rem;
    gap: 2rem;
    .student-details {
      display: grid;
      gap: 1rem;
      grid-template-columns: 18rem auto;
      grid-auto-rows: 18rem;
      img {
        height: 18rem;
        width: 18rem;
      }
      .more-details {
        background-color: #fff;
        padding: 1.5rem;
      }
    }
    .student-more-details {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      gap: 2rem;
      background-color: #d9d9d9;

      .schedule-details,
      .internship-details {
        background-color: #fff;
        padding: 0 1rem;
        padding: 1rem;
        h3 {
          padding-bottom: 1rem;
        }
      }
    }
  }

  button {
    margin: auto;
    cursor: pointer;
    height: 4.5rem;
    @include flexCenter;
    padding: 1.6rem;
    border-radius: 1rem;
    border: solid 1px transparent;
    outline: none;
    color: $primary-font-color;
    background-color: $primary-compliment-landing;
    transition: all 0.4s ease-in-out;
    font-weight: 600;

    &:hover {
      background-color: $primary-font-color;
      color: $primary-compliment-landing;
      border: solid 1px $primary-compliment-landing;
    }
  }
}
